form button,
[type="submit"],
[type="button"],
.c-btn {
	-webkit-appearance: none;
	background-color: #757575;
	background-image: none;
	border: none;
	border-radius: 0; /* btn background */
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	padding: 8px 24px; /* btn color */
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

form button:hover,
:hover[type="submit"],
:hover[type="button"],
.c-btn:hover,
form button:focus,
:focus[type="submit"],
:focus[type="button"],
.c-btn:focus {
	outline: none;
}

form button:hover,
:hover[type="submit"],
:hover[type="button"],
.c-btn:hover {
	opacity: 0.6; /* opacity */
}

form button::-moz-foucus-inner,
[type="submit"]::-moz-foucus-inner,
[type="button"]::-moz-foucus-inner,
.c-btn::-moz-foucus-inner {
	border: none;
	padding: 0;
}

.fadein {
	-webkit-transform: translate(0, 30px);
	opacity: 0.1;
	transform: translate(0, 30px);
	transition: all 0.5s ease 0s;
}

.fadein.m-anim {
	-webkit-transform: translate(0, 0);
	opacity: 1;
	transform: translate(0, 0);
}

[data-target] {
	cursor: pointer;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #fff;
	color: #424242;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo UI", "Meiryo", roboto, sans-serif;
	font-size: 1.6rem;
	font-weight: 400; /* cr-txt */
	line-height: 1.6;
	overflow-wrap: break-word; /* cr-bg */
	overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video {
	height: auto;
	max-width: 100%;
}

code,
kbd,
pre,
samp {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table { /* table border */
	background: #fff;
	border: 1px solid #bdbdbd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%; /* table background */
}

th,
td {
	border: 1px solid #bdbdbd;
	padding: 0.4em 0.6em;
	text-align: left;
	vertical-align: top; /* table border */
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

form {
	margin: 0;
	padding: 0;
}

form button {
	width: auto;
}

input:not([type="file"]) {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 0.95em;
	padding: 0.4em 0.8em;
	width: auto;
}

input:not([type="file"]):focus {
	border: 1px solid #9e9e9e;
	box-shadow: none;
	outline: none;
}

input:not([type="file"]).m-full {
	width: 100%;
}

textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 0.95em;
	height: 100px;
	padding: 0.4em 0.8em;
	resize: none;
	width: auto;
}

textarea:focus {
	border: 1px solid #9e9e9e;
	box-shadow: none;
	outline: none;
}

textarea.m-resize {
	resize: both;
}

textarea.m-full {
	width: 100%;
}

[type="submit"],
[type="button"] {
	width: auto;
}

[type="radio"] {
	display: none;
}

[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0 1em 0 1.4em;
	position: relative;
}

[type="radio"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 50%;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

[type="radio"] + span::after {
	-webkit-transform: translateY(-50%);
	background: #616161;
	border: 1px solid #9e9e9e;
	border-radius: 50%;
	box-shadow: 0 0 0 0.1em #fff inset;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 1em;
}

[type="radio"]:checked + span::before {
	border: 1px solid #9e9e9e;
}

[type="radio"]:checked + span::after {
	opacity: 1;
}

[type="checkbox"] {
	display: none;
}

[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0 1em 0 1.4em;
	position: relative;
}

[type="checkbox"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

[type="checkbox"] + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 3px solid #616161;
	border-left: 3px solid #616161;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	transition: all 0.3s ease 0s;
	width: 1em;
}

[type="checkbox"]:checked + span::before {
	border: 1px solid #9e9e9e;
}

[type="checkbox"]:checked + span::after {
	opacity: 1;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url(../img/arrow-select.svg);
	background-position: center right 0.2em;
	background-repeat: no-repeat;
	background-size: 16px auto;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	color: inherit;
	cursor: pointer; /* form border */
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 2.4em 0.4em 0.8em;
	width: auto;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border-color: #9e9e9e; /* form border-active */
	box-shadow: none;
	outline: none;
}

select[multiple] {
	background-image: none;
	height: 100px;
	padding: 0;
}

select[multiple] option {
	padding: 0.4em 1.2em 0.4em 0.4em;
}

#l-primary {
	width: 71.18644%;
}

#l-secondary {
	margin-left: auto;
	width: 25.59322%;
}

.l-footer {
	background: #666;
	width: 100%;
	z-index: 10;
}

.l-header {
	background: rgba(255, 255, 255, 0);
	height: 80px;
	width: 100%;
	z-index: 20;
}

.l-header.m-fixed {
	left: 0;
	position: fixed;
	top: 0;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	padding: 0;
	width: 1180px;
}

.l-row {
	display: flex;
	flex-wrap: wrap;
	height: inherit;
}

.l-row.l-row--middle {
	align-items: center;
}

.l-row.l-row--center {
	align-items: center;
}

.l-row .l-row--reverse {
	flex-direction: row-reverse;
}

.attachment-btn {
	margin-top: 32px;
	text-align: center;
}

.attachment-btn .btn {
	text-decoration: none;
}

.c-drawer {
	z-index: 40;
}

.c-drawer__close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 39;
}

.c-drawer__close.is-checked {
	display: block;
	opacity: 0.4;
}

.c-drawer__icon {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-align: center;
	z-index: 41;
}

.c-drawer__icon::after {
	color: #757575;
	content: "MENU";
	display: block;
	font-size: 8px;
	font-weight: 700;
	line-height: 1;
	margin-top: 8px;
	text-align: center;
}

.c-drawer__icon.is-checked::after {
	content: "CLOSE";
}

.c-drawer__bars {
	display: inline-block;
	height: 19px;
	position: relative;
	vertical-align: bottom;
	width: 30px;
}

.c-drawer__bar {
	background-color: #757575;
	border-radius: 2px;
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.c-drawer__bar:nth-of-type(1) {
	top: 0;
}

.c-drawer__bar:nth-of-type(2) {
	top: 8px;
}

.c-drawer__bar:nth-of-type(3) {
	top: 16px;
}

.is-checked .c-drawer__bar:nth-of-type(1) {
	-webkit-transform: rotate(-45deg);
	top: 10px;
	transform: rotate(-45deg);
}

.is-checked .c-drawer__bar:nth-of-type(2) {
	background-color: transparent;
}

.is-checked .c-drawer__bar:nth-of-type(3) {
	-webkit-transform: rotate(45deg);
	top: 10px;
	transform: rotate(45deg);
}

.c-drawer__content {
	-webkit-transform: translateX(105%);
	background: #fff;
	bottom: auto;
	height: 100%;
	left: auto;
	max-width: 90%;
	overflow: auto;
	padding-top: 80px;
	position: fixed;
	right: 0;
	text-align: left;
	top: 0;
	transform: translateX(105%);
	transition: all 0.5s ease 0s;
	width: 200px;
	z-index: 40;
}

.c-drawer__content.is-checked {
	-webkit-transform: translateX(0);
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	transform: translateX(0);
}

.c-drawer__content.m-left {
	-webkit-transform: translateX(-105%);
	left: 0;
	right: auto;
	transform: translateX(-105%);
}

.c-drawer__content.m-top {
	-webkit-transform: translateY(-105%);
	bottom: auto;
	height: 100%;
	max-width: 100%;
	top: 0;
	transform: translateY(-105%);
	width: 100%;
}

.c-drawer__content.m-cover {
	-webkit-transform: translateX(0);
	bottom: auto;
	height: 100%;
	max-width: 100%;
	opacity: 0;
	top: 0;
	transform: translateX(0);
	transition: all 0.5s linear 0s;
	visibility: hidden;
	width: 100%;
}

.c-drawer__content.m-cover.is-checked {
	opacity: 1;
	visibility: visible;
}

.c-drawer__content.is-checked {
	-webkit-transform: translateX(0);
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	transform: translateX(0);
}

/* input[type="text"] */

.c-text {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 0.95em;
	padding: 0.4em 0.8em;
	width: auto;
}

.c-text:focus {
	border: 1px solid #9e9e9e;
	box-shadow: none;
	outline: none;
}

.c-text.m-full {
	width: 100%;
}

/* textarea */

.c-textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 0.95em;
	height: 100px;
	padding: 0.4em 0.8em;
	resize: none;
	width: auto;
}

.c-textarea:focus {
	border: 1px solid #9e9e9e;
	box-shadow: none;
	outline: none;
}

.c-textarea.m-resize {
	resize: both;
}

.c-textarea.m-full {
	width: 100%;
}

/* select */

.c-select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url(../img/arrow-select.svg);
	background-position: center right 0.2em;
	background-repeat: no-repeat;
	background-size: 16px auto;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 2.4em 0.4em 0.8em;
	width: auto;
}

.c-select::-ms-expand {
	display: none;
}

.c-select:focus {
	border: 1px solid #9e9e9e;
	box-shadow: none;
	outline: none;
}

.c-select[multiple] {
	background-image: none;
	height: 100px;
	padding: 0;
}

.c-select[multiple] option {
	padding: 0.4em 1.2em 0.4em 0.4em;
}

/* input[type="radio"] */

.c-radio {
	display: none;
}

.c-radio + span {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0 1em 0 1.4em;
	position: relative;
}

.c-radio + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 50%;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

.c-radio + span::after {
	-webkit-transform: translateY(-50%);
	background: #616161;
	border: 1px solid #9e9e9e;
	border-radius: 50%;
	box-shadow: 0 0 0 0.1em #fff inset;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 1em;
}

.c-radio:checked + span::before {
	border: 1px solid #9e9e9e;
}

.c-radio:checked + span::after {
	opacity: 1;
}

/* input[type="checkbox"] */

.c-checkbox {
	display: none;
}

.c-checkbox + span {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0 1em 0 1.4em;
	position: relative;
}

.c-checkbox + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

.c-checkbox + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 3px solid #616161;
	border-left: 3px solid #616161;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	transition: all 0.3s ease 0s;
	width: 1em;
}

.c-checkbox:checked + span::before {
	border: 1px solid #9e9e9e;
}

.c-checkbox:checked + span::after {
	opacity: 1;
}

/* input[type="file"] */

.c-file__label {
	background: #fff;
	border: 1px solid #bdbdbd;
	color: #424242;
	cursor: pointer;
	font-size: 1.6rem;
	font-weight: 400;
	padding: 0.4em 0.8em;
}

.c-file__input {
	display: none;
}

.c-file__result {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: none;
	border-radius: 0;
	color: inherit;
	display: none;
	font-family: inherit;
	font-size: 0.95em;
	padding: 0.4em 0;
	width: 100%;
}

.rc_heading01 h2 {
	background: #efa336; /* $color-key */
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #ccc;
	color: #fff;
	letter-spacing: 0.03em;
	padding: 0.6em 0.8em;
	position: relative;
}

.rc_heading01 h2::after {
	border-color: #fff #fff #e7e7e7;
	border-radius: 0 0 0 2px;
	border-style: solid;
	border-width: 0 16px 16px 0;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
	content: "";
	position: absolute;
	right: 0;
	top: 0;
}

.rc_heading01 h3 {
	border-left: solid #efa336 6px;
	margin: 3.6em 0 0.8em;
	padding: 0.4em 0.8em; /* $color-key */
}

.rc_heading01 h4 { /* $color-key */
	border-bottom: solid 2px #efa336;
	border-top: solid 2px #efa336;
	display: inline-block;
	padding: 0.4em 0.8em; /* $color-key */
}

.rc_heading01 h5 {
	color: #efa336; /* $color-key */
}

.rc_heading01 h6 {
	color: #efa336; /* $color-key */
}

.c-mainvisual {
	background: transparent url(../img/mainvisual.jpg) no-repeat center center/cover;
	min-height: 300px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.c-mainvisual.m-mask::before {
	background: rgba(0, 0, 0, 0.3);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}

.c-mainvisual.m-high {
	height: 700px;
}

.c-mainvisual .m-hero {
	height: 100vh;
	min-height: initial;
}

.c-mainvisual .m-video {
	background: none;
}

.c-mainvisual__content {
	-webkit-transform: translateY(-50%);
	color: #fff;
	font-weight: 700;
	left: 0;
	padding: 0 24px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.c-mainvisual__title {
	font-size: 2em;
}

.c-mainvisual__lead {
	font-size: 1em;
	margin-top: 0.6em;
}

.c-mainvisual__video {
	-webkit-transform: translate(-50%, -50%);
	left: 50%;
	max-height: initial;
	max-width: initial;
	min-height: 100vh;
	min-width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.c-modal {
	z-index: 100;
}

.c-modal__close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 99;
}

.is-checked .c-modal__close {
	display: block;
	opacity: 0.4;
}

.c-modal__content {
	-webkit-transform: translate(-50%, -50%);
	background: #fff;
	left: 50%;
	opacity: 0;
	padding: 2em 2.4em;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease 0s;
	visibility: hidden;
	z-index: 100;
}

.is-checked .c-modal__content {
	opacity: 1;
	visibility: visible;
}

.c-modal__content--cover {
	-webkit-transform: none;
	background: rgba(239, 163, 54, 0.78);
	height: 100%;
	left: 0;
	top: 0;
	transform: none;
	width: 100%;
}

.footer-nav {
	text-align: center;
}

.footer-nav li {
	display: inline-block;
	margin: 0 16px 16px 0;
	text-decoration: none;
}

.footer-nav li:last-child {
	margin-bottom: 0;
	margin-right: 0;
}

.footer-nav li a {
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer-nav li a:hover {
	opacity: 0.6; /* opacity */
}

.p-copy {
	color: #fff;
	font-size: 13px;
	padding: 8px;
}

.p-copy a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-copy a:hover {
	opacity: 0.6; /* opacity */
}

.p-floating {
	bottom: 8px;
	display: none;
	position: fixed;
	right: 8px;
}

.p-floating a { /* floating color */
	background: #e65100;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	display: block;
	height: 42px;
	line-height: 42px;
	text-align: center; /* floating background */
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 42px;
}

.p-floating a:hover {
	opacity: 0.6; /* opacity */
}

#p-sidebar-fixed {
	position: -webkit-sticky;
	position: sticky;
	top: 32px;
}

.p-archive-header {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 48px;
	padding: 24px 16px;
	text-align: center;
}

.p-archive-header .p-search-form {
	margin-top: 32px;
	text-align: left;
}

.p-archive-header > .e-title {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 8px;
}

.p-archive-header > .e-description {
	color: #666;
	font-size: 14px;
}

.four04-content {
	margin-bottom: 36px;
	text-align: center;
}

.four04-content p:first-child {
	margin-top: 0;
}

.four04-link {
	text-align: center;
}

.p-archive-header {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 48px;
	padding: 24px 16px;
	text-align: center;
}

.p-archive-header .p-search-form {
	margin-top: 32px;
	text-align: left;
}

.p-archive-header > .e-title {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 8px;
}

.p-archive-header > .e-description {
	color: #666;
	font-size: 14px;
}

.four04-content {
	margin-bottom: 36px;
	text-align: center;
}

.four04-content p:first-child {
	margin-top: 0;
}

.four04-link {
	text-align: center;
}

.footer-nav {
	text-align: center;
}

.footer-nav li {
	display: inline-block;
	margin: 0 16px 16px 0;
	text-decoration: none;
}

.footer-nav li:last-child {
	margin-bottom: 0;
	margin-right: 0;
}

.footer-nav li a {
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer-nav li a:hover {
	opacity: 0.6; /* opacity */
}

.p-copy {
	color: #fff;
	font-size: 13px;
	padding: 8px;
}

.p-copy a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-copy a:hover {
	opacity: 0.6; /* opacity */
}

.p-floating {
	bottom: 8px;
	display: none;
	position: fixed;
	right: 8px;
}

.p-floating a { /* floating color */
	background: #e65100;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	display: block;
	height: 42px;
	line-height: 42px;
	text-align: center; /* floating background */
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 42px;
}

.p-floating a:hover {
	opacity: 0.6; /* opacity */
}

#p-sidebar-fixed {
	position: -webkit-sticky;
	position: sticky;
	top: 32px;
}

.p-drawer-nav li a {
	display: block;
	font-size: 16px;
	padding: 16px;
	text-decoration: none;
}

.p-drawer-nav li.menu-item-has-children {
	position: relative;
}

.p-drawer-nav li.menu-item-has-children .sub-menu {
	display: none;
	padding-left: 24px;
}

.p-drawer-nav li.menu-item-has-children .sub-menu a {
	font-size: 14px;
	padding-bottom: 12px;
	padding-top: 12px;
}

.p-drawer-nav li.menu-item-has-children a {
	padding-right: 46px;
}

.p-drawer-nav li.menu-item-has-children span::after {
	content: "\f078";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 1.8rem;
	font-weight: 900;
	position: absolute;
	right: 16px;
	top: 12px;
}

.p-drawer-nav li.menu-item-has-children.m-open .sub-menu {
	display: block;
}

.p-drawer-nav li.menu-item-has-children.m-open span::after {
	content: "\f106";
}

.footer-nav {
	text-align: center;
}

.footer-nav li {
	display: inline-block;
	margin: 0 16px 16px 0;
	text-decoration: none;
}

.footer-nav li:last-child {
	margin-bottom: 0;
	margin-right: 0;
}

.footer-nav li a {
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer-nav li a:hover {
	opacity: 0.6; /* opacity */
}

.p-copy {
	color: #fff;
	font-size: 13px;
	padding: 8px;
}

.p-copy a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-copy a:hover {
	opacity: 0.6; /* opacity */
}

.p-floating {
	bottom: 8px;
	display: none;
	position: fixed;
	right: 8px;
}

.p-floating a { /* floating color */
	background: #e65100;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	display: block;
	height: 42px;
	line-height: 42px;
	text-align: center; /* floating background */
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 42px;
}

.p-floating a:hover {
	opacity: 0.6; /* opacity */
}

.p-header-logo {
	margin-right: auto;
}

.p-header-logo a {
	display: block;
	font-size: 28px;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-header-logo a:hover {
	opacity: 0.6; /* opacity */
}

.p-header-logo img {
	max-height: 80px;
	vertical-align: middle;
	width: auto;
}

.p-header-nav ul {
	display: flex;
}

.p-header-nav li {
	margin-right: 12px;
	padding: 16px 0;
	position: relative;
	z-index: 22;
}

.p-header-nav li:hover > .sub-menu {
	opacity: 1;
	visibility: visible;
}

.p-header-nav li:last-child {
	margin-right: 0;
}

.p-header-nav li:last-child .sub-menu {
	left: auto;
	right: 0;
}

.p-header-nav li > a {
	display: block;
	font-size: 14px;
	padding: 6px 8px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-header-nav li > a:hover {
	opacity: 0.6; /* opacity */
}

.p-header-nav li.m-pickup a {
	background: #e65100;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16); /* header pickup */
	color: #fff;
	font-weight: 700;
}

.p-header-nav .sub-menu {
	display: block;
	font-size: 16px;
	left: 0;
	min-width: 200px;
	opacity: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 100%;
	z-index: 21;
}

.p-header-nav .sub-menu li {
	display: block;
	height: auto;
	margin-bottom: 2px;
	margin-right: 0;
	padding: 0;
}

.p-header-nav .sub-menu li a {
	background: #efa336; /* header background-sub */
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	letter-spacing: 0.05em;
	line-height: 1.6; /* header color-sub */
	padding: 8px 28px 8px 16px;
}

.mv-page {
	position: relative;
}

.mv-page::before {
	background: rgba(0, 0, 0, 0.16);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.mv-page > .e-content {
	-webkit-transform: translate(-50%, -50%);
	color: #fff;
	left: 50%;
	max-width: 100%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
}

.mv-page > .e-content > .e-title {
	font-size: 24px;
	font-weight: 700;
}

.mv-page > .e-content > .e-lead {
	font-size: 14px;
	margin-top: 8px;
}

#p-sidebar-fixed {
	position: -webkit-sticky;
	position: sticky;
	top: 32px;
}

.p-breadcrumb ul {
	align-items: center;
	display: flex;
	overflow: hidden;
}

.p-breadcrumb ul li {
	padding: 8px 0;
	white-space: nowrap;
}

.p-breadcrumb ul a {
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-breadcrumb ul a:hover {
	opacity: 0.6; /* opacity */
}

.p-breadcrumb ul a,
.p-breadcrumb ul .e-current {
	color: #666;
	font-size: 1.3rem;
}

.p-breadcrumb .e-bridge {
	color: #666;
	font-size: 1.3rem;
	padding: 0 16px;
}

.comments-title {
	font-size: 20px;
	font-weight: 700;
	margin: 42px 0 24px;
}

.comments-list {
	margin-bottom: 32px;
}

.comments-list li {
	margin-bottom: 24px;
}

.comments-list .children {
	margin-top: 24px;
	padding-left: 12px;
}

.comment-body .reply {
	font-size: 14px;
	text-align: right;
	transition: all 0.3s ease 0s;
}

.comment-body .reply:hover {
	opacity: 0.6; /* opacity */
}

.comment-body .reply::before {
	content: "\f3e5";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 6px;
}

.comment-meta {
	align-items: center;
	display: flex;
	margin-bottom: 8px;
}

.bypostauthor .comment-meta {
	flex-direction: row-reverse;
}

.comment-author {
	margin-right: auto;
}

.bypostauthor .comment-author {
	margin-left: auto;
	margin-right: 0;
}

.comment-author img {
	border-radius: 50%;
	margin-right: 4px;
	vertical-align: middle;
}

.comment-author .fn {
	font-size: 14px;
	vertical-align: middle;
}

.comment-author .fn a {
	transition: all 0.3s ease 0s;
}

.comment-author .fn a:hover {
	opacity: 0.6; /* opacity */
}

.comment-author .says {
	color: #666;
	font-size: 12px;
	vertical-align: middle;
}

.comment-metadata {
	color: #666;
	font-size: 12px;
}

.comments-nav {
	margin-top: 32px;
}

.comments-nav ul {
	display: flex;
}

.comments-nav li {
	margin-right: auto;
}

.comments-nav li:last-child {
	margin-right: 0;
}

.comments-nav li a {
	color: #666;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.comments-nav li a:hover {
	opacity: 0.6; /* opacity */
}

.comments-nav li.comments-prev a::before {
	content: "\f053";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 6px;
}

.comments-nav li.comments-next a::after {
	content: "\f054";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-left: 6px;
}

.comment-content h1 {
	font-size: 28px;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.comment-content h2 {
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.comment-content h3 {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 1em;
	margin-top: 3em;
}

.comment-content h4 {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.comment-content h5 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.comment-content h6 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.comment-content h2 + p,
.comment-content h3 + p,
.comment-content h4 + p,
.comment-content h5 + p,
.comment-content h6 + p {
	margin-top: 0;
}

.comment-content p {
	line-height: 1.6;
	margin-top: 1.2em;
}

.comment-content ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.comment-content ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.comment-content li {
	line-height: 1.6;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}

.comment-content blockquote {
	background: #eee;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}

.comment-content blockquote > :first-child {
	margin-top: 0;
}

.comment-content blockquote > :last-child {
	margin-bottom: 0;
}

.comment-content q {
	background: #eee;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

.comment-content strong,
.comment-content em,
.comment-content b {
	font-weight: 700;
}

.comment-content a {
	text-decoration: underline;
	transition: all 0.3s ease 0s;
}

.comment-content a:hover {
	opacity: 0.6; /* opacity */
}

.comment-content img {
	vertical-align: middle;
}

.comment-content dl {
	margin-top: 1em;
}

.comment-content dt {
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 0.8em;
}

.comment-content var,
.comment-content code,
.comment-content kbd { /* code-txt */
	background: #ef5350;
	color: #fff; /* code-bg */
	display: inline-block;
	font-style: normal;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: baseline;
}

.comment-content pre {
	margin-top: 1.2em;
	overflow: auto;
	padding: 1em;
	white-space: pre;
}

.comment-content pre code {
	background: #2d2d2d; /* pre-code-bg */
	color: #fff;
	margin: -1em;
	padding: 12px;
	position: relative;
}

.comment-respond {
	margin-top: 60px;
}

.comment-respond .required {
	color: #e57373; /* cr-required */
	vertical-align: middle;
}

.comment-respond input,
.comment-respond textarea {
	vertical-align: top;
}

.comment-reply-title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 12px;
}

.logged-in-as a {
	color: #666;
	transition: all 0.3s ease 0s;
}

.logged-in-as a:hover {
	opacity: 0.6; /* opacity */
}

.comment-notes {
	color: #666;
}

.comment-form label {
	display: block;
	margin: 10px 0 4px;
}

.comment-form .form-submit {
	margin-top: 24px;
}

#wp-comment-cookies-consent + label {
	cursor: pointer;
	display: inline-block;
	margin: 24px 0 0 0;
	padding: 0 0 0 1.4em;
	position: relative;
	transition: all 1s ease 0s;
}

#wp-comment-cookies-consent + label::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #bdbdbd; /* form border */
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

#wp-comment-cookies-consent + label::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

#wp-comment-cookies-consent:checked + label::after {
	-webkit-transform: translateY(-50%) rotate(-45deg); /* form checkbox */
	border-bottom: 4px solid #616161;
	border-left: 4px solid #616161;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em; /* form checkbox */
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 1em;
}

.contact-item {
	display: flex;
}

.contact-item dt,
.contact-item dd {
	padding: 16px 12px;
}

.contact-item dt {
	width: 150px;
}

.contact-item dd {
	width: calc(100% - 150px);
}

.contact-submit {
	text-align: center;
}

span.wpcf7-list-item {
	margin: 0;
}

.p-entry-items {
	margin-top: 32px;
}

.p-entry-items.m-square {
	display: flex;
	flex-wrap: wrap;
}

.p-entry-item {
	background: #fff;
	border: 1px solid #eee;
	display: flex;
	margin-bottom: 32px;
	padding: 24px 12px;
	text-decoration: none;
}

.p-entry-item:last-child {
	margin-bottom: 0;
}

.p-entry-item .e-img {
	padding: 0 12px;
	text-align: center;
	width: 30%;
}

.p-entry-item .e-img a {
	transition: all 0.3s ease 0s;
}

.p-entry-item .e-img a:hover {
	opacity: 0.6; /* opacity */
}

.p-entry-item .e-body {
	padding: 0 12px;
	width: 70%;
}

.p-entry-item .e-meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 8px;
}

.p-entry-item .e-published {
	color: #666;
	font-size: 12px;
	margin-left: auto;
	white-space: nowrap;
}

.p-entry-item .e-published::before {
	content: "\f073";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 400;
	margin-right: 6px;
}

.p-entry-item .e-label {
	white-space: nowrap;
}

.p-entry-item .e-label a,
.p-entry-item .e-label span {
	background: #333;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
}

.p-entry-item .e-label a {
	text-decoration: none;
}

.p-entry-item .e-label a:hover {
	opacity: 0.6; /* opacity */
}

.p-entry-item .e-title {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 8px;
}

.p-entry-item .e-title a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-item .e-title a:hover {
	opacity: 0.6; /* opacity */
}

.p-entry-item .e-excerpt {
	color: #666;
	font-size: 14px;
}

.p-entry-item .e-auther {
	margin-top: 16px;
	text-align: right;
}

.p-entry-item .e-auther a,
.p-entry-item .e-auther span {
	color: #666;
	font-size: 14px;
	vertical-align: middle;
}

.p-entry-item .e-auther a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-item .e-auther a:hover {
	opacity: 0.6; /* opacity */
}

.p-entry-item .e-auther img {
	border-radius: 50%;
	margin-right: 4px;
	vertical-align: middle;
	width: 30px;
}

.m-square .p-entry-item {
	display: block;
	margin-bottom: 32px;
	margin-right: 32px;
	padding-left: 24px;
	padding-right: 24px;
	width: calc(50% - 32px / 2);
}

.m-square .p-entry-item:nth-child(2n) {
	margin-right: 0;
}

.m-square .p-entry-item .e-img {
	padding: 0;
	width: 100%;
}

.m-square .p-entry-item .e-body {
	padding: 12px 0 0;
	width: 100%;
}

.p-entry {
	background: #fff;
	border: 1px solid #eee;
	padding: 24px 24px 42px;
}

.p-entry > .e-header {
	margin-bottom: 8px;
}

.p-entry .e-title {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 16px;
}

.p-entry .e-meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 8px;
}

.p-entry .e-published {
	color: #666;
	font-size: 12px;
	margin-left: auto;
	white-space: nowrap;
}

.p-entry .e-published::before {
	content: "\f073";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 400;
	margin-right: 6px;
}

.p-entry .e-update {
	color: #666;
	font-size: 12px;
	margin-left: 16px;
	white-space: nowrap;
}

.p-entry .e-update::before {
	content: "\f2f1";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 6px;
}

.p-entry .e-label {
	white-space: nowrap;
}

.p-entry .e-label a,
.p-entry .e-label span {
	background: #333;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
}

.p-entry .e-label a {
	text-decoration: none;
}

.p-entry .e-label a:hover {
	opacity: 0.6; /* opacity */
}

.p-entry .e-tags {
	align-items: center;
	border-top: 1px solid #eee;
	display: flex;
	flex-wrap: wrap;
	margin-top: 32px;
	padding-top: 12px;
}

.p-entry .e-tag {
	background: #eee;
	border-radius: 2px;
	font-size: 12px;
	margin: 0 6px 6px 0;
	padding: 2px 6px;
}

.p-entry .e-tag a {
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry .e-tag a:hover {
	opacity: 0.6; /* opacity */
}

.p-entry .e-img {
	text-align: center;
}

.p-entry .e-caption {
	color: #666;
	font-size: 12px;
	margin-top: 8px;
	text-align: center;
}

.p-entry .e-body {
	margin-top: 32px;
}

.p-entry .e-body h2 {
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.p-entry .e-body h3 {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 1em;
	margin-top: 3em;
}

.p-entry .e-body h4 {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-entry .e-body h5 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-entry .e-body h6 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-entry .e-body p {
	line-height: 1.8;
	margin: 2em 0 0.4em;
}

.p-entry .e-body ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.p-entry .e-body ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.p-entry .e-body li {
	line-height: 1.6;
	margin-bottom: 0.6em;
	margin-top: 0.6em;
}

.p-entry .e-body blockquote {
	background: #eee;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}

.p-entry .e-body blockquote > :first-child {
	margin-top: 0;
}

.p-entry .e-body blockquote > :last-child {
	margin-bottom: 0;
}

.p-entry .e-body q {
	background: #eee;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

.p-entry .e-body th {
	background: #ffecb3; /* table border */
}

.p-entry .e-body strong,
.p-entry .e-body em,
.p-entry .e-body b {
	font-weight: 700;
}

.p-entry .e-body a {
	text-decoration: underline;
	transition: all 0.3s ease 0s;
}

.p-entry .e-body a:hover {
	opacity: 0.6; /* opacity */
}

.p-entry .e-body img {
	vertical-align: middle;
}

.p-entry .e-body dl {
	margin-top: 1em;
}

.p-entry .e-body dt {
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 0.8em;
}

.p-entry .e-body var,
.p-entry .e-body code,
.p-entry .e-body kbd {
	background: #fee;
	color: #444;
	display: inline-block;
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-style: normal;
	font-weight: 700;
	margin: 0 0.2em;
	padding: 0 0.4em;
	vertical-align: baseline;
}

.p-entry .e-body pre {
	background: rgba(239, 239, 239, 0.3);
	margin-top: 1.2em;
	overflow: auto;
	padding: 1em;
	white-space: pre;
}

.p-entry .e-body pre code {
	background: #2d2d2d;
	color: #fff;
	display: block;
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-weight: 400;
	margin: -1em;
	padding: 12px;
	position: relative;
}

.p-entry .e-links {
	display: flex;
	justify-content: center;
	margin-top: 32px;
}

.p-entry .e-links .post-page-numbers {
	background: #eee; /* pagenation background */
	border: 1px solid #eee; /* pagenation border */
	color: #333;
	display: inline-block;
	height: 36px;
	line-height: 36px; /* pagenation color */
	margin-right: 12px;
	min-width: 36px;
	text-align: center;
}

.p-entry .e-links .post-page-numbers:last-child {
	margin-right: 0;
}

.p-entry .e-links .post-page-numbers.current { /* pagenation color-active */
	background: #efa336; /* pagenation background-active */
	border: 1px solid;
	color: #fff; /* pagenation borde-color-active */
}

.p-entry .e-links .post-page-numbers:first-child {
	margin-left: 0;
}

.p-entry .e-links .post-page-numbers:last-child {
	margin-right: 0;
}

.p-entry .e-links a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry .e-links a:hover { /* pagenation color-active */
	background: #efa336; /* pagenation background-active */
	border: 1px solid #efa336;
	color: #fff; /* pagenation border-color-active */
	opacity: 1;
}

.p-entry-pager {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 32px;
}

.p-entry-pager .e-prev {
	margin-right: auto;
	width: 42%;
}

.p-entry-pager .e-next {
	margin-left: auto;
	width: 42%;
}

.p-entry-pager .e-next .e-head {
	text-align: right;
}

.p-entry-pager .e-next .e-head::before {
	display: none;
}

.p-entry-pager .e-next .e-head::after {
	content: "\f054";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-left: 6px;
}

.p-entry-pager .e-head {
	color: #666;
	display: block;
	margin-bottom: 4px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-pager .e-head:hover {
	opacity: 0.6; /* opacity */
}

.p-entry-pager .e-head::before {
	content: "\f053";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 6px;
}

.p-entry-pager .e-item {
	background: #fff;
	border: 1px solid #eee;
	display: flex;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-pager .e-item:hover {
	opacity: 0.6; /* opacity */
}

.e-next .p-entry-pager .e-item {
	flex-direction: row-reverse;
}

.p-entry-pager .e-img {
	width: 80px;
}

.p-entry-pager .e-img img {
	width: 80px;
}

.p-entry-pager .e-body {
	padding: 12px;
	width: calc(100% - 80px);
}

.p-entry-pager .e-title {
	font-size: 14px;
}

.p-infomation {
	background: #efa336; /* infomation background */
}

.p-infomation a {
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 700;
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-infomation a:hover {
	opacity: 0.6;
}

.p-likebox {
	background: #2d2d2d;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	display: flex;
	margin-top: 32px;
}

.p-likebox > .e-img {
	background: transparent no-repeat center center / cover;
	width: 40%;
}

.p-likebox > .e-body {
	color: #fff;
	padding: 24px 10px;
	text-align: center;
	width: 60%;
}

.p-likebox > .e-body > .e-lead {
	font-weight: 700;
	line-height: 1.6;
	margin-bottom: 16px;
}

.c-marker {
	background: #e0e0e0;
	display: inline-block;
	padding: 0 0.2em;
}

.c-marker.m-stripe {
	background: transparent;
	position: relative;
	z-index: 1;
}

.c-marker.m-stripe::before {
	background: repeating-linear-gradient(-45deg, #e0e0e0, #e0e0e0 2px, #fff 0, #fff 4px);
	bottom: 3px;
	content: "";
	height: 0.4em;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.c-marker.m-thin {
	background: linear-gradient(transparent 60%, #e0e0e0 0);
}

.c-marker.m-cover {
	background: #e0e0e0;
	box-shadow: 1em 0 #e0e0e0, 0 0.4em #e0e0e0, 1em 0.4em #e0e0e0, -1em 0 #e0e0e0, 0 -0.4em #e0e0e0, -1em -0.4em #e0e0e0, -1em 0.4em #e0e0e0, 1em -0.4em #e0e0e0;
	display: inline;
	line-height: 2.2;
	padding: 0;
}

.p-relation {
	margin-top: 32px;
}

.p-relation > .e-head {
	color: #efa336;
	font-weight: 700;
	margin-bottom: 16px; /* $color-key */
	text-align: center;
}

.p-relation > .e-head::before {
	-webkit-transform: rotate(-30deg);
	content: "|";
	display: inline-block;
	margin-right: 12px;
	transform: rotate(-30deg);
}

.p-relation > .e-head::after {
	-webkit-transform: rotate(30deg);
	content: "|";
	display: inline-block;
	margin-left: 12px;
	transform: rotate(30deg);
}

.p-relation > .e-head span {
	font-size: 18px;
}

.p-relation > .e-head span::before {
	content: "\f02b";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 14px;
	font-weight: 900;
	margin-right: 4px;
}

.p-relation-items {
	display: flex;
	flex-wrap: wrap;
}

.p-relation-items .e-item {
	margin-bottom: 12px;
	margin-right: 12px;
	width: calc(25% - 12px * 3 / 4);
}

.p-relation-items .e-item:nth-child(4n) {
	margin-right: 0;
}

.p-relation-items .e-item > .e-img a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-relation-items .e-item > .e-img a:hover {
	opacity: 0.6; /* opacity */
}

.p-relation-items .e-item > .e-body {
	padding: 4px;
}

.p-relation-items .e-item > .e-body > .e-title {
	line-height: 1.4;
}

.p-relation-items .e-item > .e-body > .e-title a {
	font-size: 14px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-relation-items .e-item > .e-body > .e-title a:hover {
	opacity: 0.6; /* opacity */
}

.p-relation-items .e-item > .e-body > .e-btn {
	margin-top: 24px;
	text-align: center;
}

.p-sns-buttons ul {
	display: flex;
	flex-wrap: wrap;
}

.p-sns-buttons li {
	font-size: 13px;
	margin: 3px 12px 3px 0;
	width: calc((100% / 6) - 12px * 5 / 6);
}

.p-sns-buttons li:last-child {
	margin-right: 0;
}

.p-sns-buttons li i {
	font-style: normal;
	font-weight: 700;
	margin-right: 4px;
}

.p-sns-buttons li a {
	background: #666;
	border-radius: 2px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	display: block;
	font-weight: 700;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	white-space: nowrap;
}

.p-sns-buttons li a:hover {
	opacity: 0.6; /* opacity */
}

.p-sns-buttons li a.m-twitter {
	background: #1da1f2; /* sns twitter */
}

.p-sns-buttons li a.m-facebook {
	background: #3b5998; /* sns facebook */
}

.p-sns-buttons li a.m-hatena {
	background: #018fde; /* sns hatena */
}

.p-sns-buttons li a.m-line {
	background: #00b902; /* sns line */
}

.p-sns-buttons li a.m-pocket {
	background: #ef4156; /* sns pocket */
}

.p-sns-buttons li a.m-rss {
	background: #ea781a; /* sns rss */
}

.p-sns-buttons-org ul {
	display: flex;
	flex-wrap: wrap;
}

.p-sns-buttons-org li {
	margin-bottom: 8px;
	margin-right: 8px;
}

.p-sns-buttons-org li:last-child {
	margin-right: 0;
}

/* SNSボタンウィジェット */

.fb-share-button > span {
	vertical-align: top !important;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-caption {
	font-size: 14px;
	padding: 4px;
	text-align: left;
}

.gallery-icon {
	text-align: center;
}

.gallery-item {
	margin-bottom: 8px;
	padding: 4px;
	width: 100%;
}

.gallery-item a {
	transition: all 0.3s ease 0s;
}

.gallery-item a:hover {
	opacity: 0.6; /* opacity */
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11111%;
}

.menu-item-has-children .sub-menu {
	display: none;
	padding-left: 24px;
}

.p-pagenation {
	display: flex;
	justify-content: center;
	margin-top: 32px;
}

.p-pagenation a {
	transition: all 0.3s ease 0s;
}

.p-pagenation a:hover { /* pagenation color-active */
	background: #efa336; /* pagenation background-active */
	border: 1px solid #efa336;
	color: #fff; /* pagenation border-active */
}

.p-pagenation a.next,
.p-pagenation a.prev {
	background: #eee; /* pagenation background */
	border: 1px solid #eee; /* pagenation border */
}

.p-pagenation a.next:hover,
.p-pagenation a.prev:hover { /* pagenation color-active */
	background: #efa336; /* pagenation background-active */
	border: 1px solid #efa336;
	color: #fff; /* pagenation border-active */
}

.page-numbers { /* pagenation border */
	background: #eee;
	border: 1px solid #eee;
	color: #333;
	height: 42px;
	line-height: 42px;
	margin-right: 8px;
	min-width: 42px; /* pagenation background */
	text-align: center; /* pagenation color */
	text-decoration: none;
}

.page-numbers:last-child {
	margin-right: 0;
}

.page-numbers.current { /* pagenation color-active */
	background: #efa336; /* pagenation background-active */
	border: 1px solid #efa336;
	color: #fff; /* pagenation border-active */
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
	border: none;
}

.wp-caption {
	margin: 1.2em auto 0;
	max-width: 100%;
	text-align: center;
}

.wp-caption a {
	transition: all 0.3s ease 0s;
}

.wp-caption a:hover {
	opacity: 0.6; /* opacity */
}

.wp-caption-text {
	font-size: 13px;
	padding: 4px;
	text-align: left;
}

.post_password {
	margin-top: 1.2em;
	position: relative;
}

.post_password .post_password-field {
	height: 42px;
	line-height: 42px;
	width: 100%;
}

.post_password .post_password-submit {
	-webkit-transform: translateY(-50%);
	height: 40px;
	padding-bottom: 0;
	padding-top: 0;
	position: absolute;
	right: 1px;
	top: 50%;
	transform: translateY(-50%);
}

.alignleft {
	float: left;
	margin: 8px 8px 8px 0;
	max-width: 48%;
}

.alignright {
	float: right;
	margin: 8px 0 8px 8px;
	max-width: 48%;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.sticky {
	position: relative;
}

.sticky::before { /* sticky color */
	background: #e65100;
	color: #fff;
	content: "PICK UP"; /* sticky background */
	font-size: 12px;
	left: 0;
	padding: 4px 8px;
	position: absolute;
	top: 0;
	z-index: 2;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	height: auto;
	max-width: 100%;
}

.p-widget.widget_archive select {
	background: transparent url(../img/arrow-select.svg) no-repeat center right 8px/12px 8px;
	width: 100%;
}

.p-widget {
	background: #fff;
	margin-bottom: 32px;
}

.p-widget:last-child {
	margin-bottom: 0;
}

.p-widget ul {
	padding: 0 16px;
}

.p-widget ul.children li {
	margin-top: 16px;
}

.p-widget ul.sub-menu li {
	margin-top: 16px;
}

.p-widget > ul {
	padding: 16px;
}

.p-widget .menu {
	padding: 16px;
}

.p-widget li {
	font-size: inherit;
	margin-bottom: 16px;
}

.p-widget li:last-child {
	margin-bottom: 0;
}

.p-widget li a {
	display: inline-block;
	font-size: inherit;
	text-decoration: none;
}

.p-widget a {
	transition: all 0.3s ease 0s;
}

.p-widget a:hover {
	opacity: 0.6; /* opacity */
}

.p-widget-title {
	background: #efa336;
	color: #fff; /* widget background */
	font-size: 16px;
	font-weight: 700;
	padding: 8px 16px; /* widget color */
}

.p-widget.widget_calendar {
	padding-bottom: 0;
}

#wp-calendar caption {
	padding: 4px;
}

#wp-calendar th,
#wp-calendar td {
	font-size: 12px;
	padding: 8px;
	text-align: center;
}

#wp-calendar #prev {
	text-align: left;
}

#wp-calendar #next {
	text-align: right;
}

#wp-calendar a {
	color: #efa336;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

#wp-calendar a:hover {
	opacity: 0.6; /* opacity */
}

.p-widget.widget_categories select {
	background: transparent url(../img/arrow-select.svg) no-repeat center right 8px/12px 8px;
	width: 100%;
}

.p-widget.widget_meta abbr {
	text-decoration: none;
}

#recentcomments .recentcomments {
	color: #666;
	font-size: 14px;
}

#recentcomments .recentcomments a {
	color: #333;
	font-size: 16px;
	text-decoration: underline;
}

#recentcomments .recentcomments a:hover {
	opacity: 0.6; /* opacity */
}

#recentcomments .e-author-link {
	color: #333;
	font-size: 16px;
}

.post-date {
	color: #666;
	display: block;
	font-size: 14px;
}

.p-widget.widget_rss cite {
	color: #666;
	font-size: 14px;
}

.rss-widget-icon {
	margin-top: -4px;
	vertical-align: middle;
}

.rsswidget {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
}

.rsswidget:hover {
	opacity: 0.6; /* opacity */
}

.rss-date {
	color: #666;
	font-size: 14px;
}

.rssSummary {
	color: #666;
	font-size: 14px;
}

.p-widget.widget_search {
	padding-bottom: 0;
}

.p-search-form {
	position: relative;
}

.screen-reader-text {
	position: absolute;
	top: 0;
	z-index: -1;
}

.search-field {
	height: 42px;
	line-height: 42px;
	width: 100%;
}

.search-submit {
	-webkit-transform: translateY(-50%);
	font-size: 14px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	min-width: 40px;
	padding: 0 10px;
	position: absolute;
	right: 1px;
	top: 50%;
	transform: translateY(-50%);
}

.tagcloud {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding: 16px;
}

.tag-cloud-link {
	background: #eee;
	border-radius: 2px; /* tagcloud background */
	color: #333;
	display: block;
	font-size: 12px !important;
	margin: 0 6px 6px 0;
	padding: 2px 6px; /* tagcloud color */
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.textwidget {
	padding: 16px;
}

.u-m-auto {
	margin: auto;
}

.u-mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.u-my-auto {
	margin-bottom: auto;
	margin-top: auto;
}

.u-mt-auto {
	margin-top: auto;
}

.u-mr-auto {
	margin-right: auto;
}

.u-ml-auto {
	margin-left: auto;
}

.u-mb-auto {
	margin-bottom: auto;
}

.u-m-0 {
	margin: 0;
}

.u-mx-0 {
	margin-left: 0;
	margin-right: 0;
}

.u-my-0 {
	margin-bottom: 0;
	margin-top: 0;
}

.u-mt-0 {
	margin-top: 0;
}

.u-mr-0 {
	margin-right: 0;
}

.u-mb-0 {
	margin-bottom: 0;
}

.u-ml-0 {
	margin-left: 0;
}

.u-p-0 {
	padding: 0;
}

.u-px-0 {
	padding-left: 0;
	padding-right: 0;
}

.u-py-0 {
	padding-bottom: 0;
	padding-top: 0;
}

.u-pt-0 {
	padding-top: 0;
}

.u-pr-0 {
	padding-right: 0;
}

.u-pb-0 {
	padding-bottom: 0;
}

.u-pl-0 {
	padding-left: 0;
}

.u-text-left {
	text-align: left;
}

.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-text-justify {
	text-align: justify;
	text-justify: inter-ideograph;
}

.u-japanease {
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	overflow: hidden;
	writing-mode: vertical-rl;
}

.u-word-break {
	word-break: break-all;
}

.u-white-space {
	white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 1179px) {

.u-hidden-tab {
	display: none;
}

}

@media screen and (min-width: 1180px) {

.u-hidden-pc {
	display: none;
}

}

@media screen and (max-width: 1179px) {

.l-inner {
	padding-left: 32px;
	padding-right: 32px;
}

}

@media screen and (max-width: 767px) {

#l-primary {
	margin-bottom: 32px;
	width: 100%;
}

#l-secondary {
	width: 100%;
}

.l-header {
	height: 60px;
}

.l-inner {
	padding-left: 24px;
	padding-right: 24px;
}

.p-floating a {
	height: 38px;
	line-height: 38px;
	width: 38px;
}

.p-floating a {
	height: 38px;
	line-height: 38px;
	width: 38px;
}

.p-floating a {
	height: 38px;
	line-height: 38px;
	width: 38px;
}

.p-header-logo img {
	max-height: 60px;
}

.p-header-nav {
	display: none;
}

.contact-item {
	display: block;
}

.contact-item dt,
.contact-item dd {
	padding: 0;
}

.contact-item dt {
	margin-bottom: 6px;
	width: 100%;
}

.contact-item dd {
	margin-bottom: 20px;
	width: 100%;
}

.p-entry-item {
	display: block;
	padding-bottom: 12px;
	padding-top: 12px;
}

.p-entry-item .e-img {
	padding: 0;
	width: 100%;
}

.p-entry-item .e-body {
	padding: 12px 0 0;
	width: 100%;
}

.m-square .p-entry-item {
	margin-right: 0;
	padding-left: 12px;
	padding-right: 12px;
	width: 100%;
}

.m-square .p-entry-item:last-child {
	margin-bottom: 0;
}

.p-entry {
	margin-bottom: 32px;
	padding-left: 16px;
	padding-right: 16px;
}

.p-entry-pager {
	display: block;
}

.p-entry-pager .e-prev {
	width: 100%;
}

.p-entry-pager .e-next {
	margin-bottom: 12px;
	width: 100%;
}

.p-entry-pager .e-head {
	font-size: 14px;
}

.p-likebox {
	margin-left: -16px;
	margin-right: -16px;
}

.p-likebox > .e-body {
	padding: 10px 4px;
}

.p-likebox > .e-body > .e-lead {
	font-size: 12px;
	margin-bottom: 8px;
}

.p-relation-items .e-item {
	width: calc(50% - 12px * 1 / 2);
}

.p-relation-items .e-item:nth-child(2n) {
	margin-right: 0;
}

.p-sns-buttons {
	margin-bottom: 6px;
	margin-top: 6px;
}

.p-sns-buttons li {
	margin-bottom: 6px;
	margin-top: 6px;
	width: calc(50% - 12px * 1 / 2);
}

.p-sns-buttons li:nth-child(2n) {
	margin-right: 0;
}

.page-numbers {
	height: 38px;
	line-height: 38px;
	min-width: 38px;
}

.u-hidden-sp {
	display: none;
}

}

@-webkit-keyframes fadeInDown {

from {
	-webkit-transform: translateY(-50px);
	opacity: 0;
	transform: translateY(-50px);
}

to {
	-webkit-transform: translateY(0);
	opacity: 1;
	transform: translateY(0);
}

}

@keyframes fadeInDown {

from {
	-webkit-transform: translateY(-50px);
	opacity: 0;
	transform: translateY(-50px);
}

to {
	-webkit-transform: translateY(0);
	opacity: 1;
	transform: translateY(0);
}

}

