@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese");

/* 38pxは余白の幅 */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #f9f8f5;
	color: #333;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

form {
	margin: 0;
	padding: 0;
}

form button {
	-webkit-appearance: none;
	background-color: #00796b;
	background-image: none;
	border: none;
	border-radius: 0;
	box-shadow: 0.0625em 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: auto;
}

form button:hover,
form button:focus {
	outline: none;
}

form button:hover {
	opacity: 0.6;
}

form button ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #eee;
	border-radius: 0;
	font-family: inherit;
	font-size: 1em;
	padding: 8px;
	width: 100%;
}

textarea:hover,
textarea:focus {
	outline: none;
}

textarea:hover {
	opacity: 0.6;
}

textarea:focus {
	border-color: #00796b;
	box-shadow: none;
	outline: none;
}

textarea ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input:focus {
	border-color: #00796b;
	box-shadow: none;
	outline: none;
}

input[type="submit"],
input[type="button"] {
	-webkit-appearance: none;
	background-color: #00796b;
	background-image: none;
	border: none;
	border-radius: 0;
	box-shadow: 0.0625em 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: auto;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
	outline: none;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	opacity: 0.6;
}

input[type="submit"] ::-moz-focus-inner,
input[type="button"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 26px;
	position: relative;
}

input[type="radio"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #eee;
	border-radius: 50%;
	content: "";
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
}

input[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="radio"]:checked + span::after {
	-webkit-transform: translateY(-50%);
	background: #00796b;
	border-radius: 50%;
	content: "";
	display: block;
	height: 10px;
	left: 5px;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 26px;
	position: relative;
	transition: all 1s ease 0s;
}

input[type="checkbox"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #eee;
	border-radius: 2px;
	content: "";
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
}

input[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 4px solid #00796b;
	border-left: 4px solid #00796b;
	content: "";
	display: block;
	height: 12px;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 20px;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url(../img/arrow.svg);
	background-position: right 6px center;
	background-repeat: no-repeat;
	background-size: 24px;
	border: 1px solid #eee;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 2.4em 0.4em 0.8em;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border-color: #00796b;
	box-shadow: none;
	outline: none;
}

.archive-title {
	font-size: 24px;
	font-weight: 700;
}

.archive-description {
	color: #666;
	font-size: 14px;
}

.inner {
	margin: 0 auto;
	max-width: 100%;
	padding: 32px 0;
	width: 1180px;
}

#content > .inner {
	display: flex;
}

#primary {
	width: 71.18644%;
}

#secondary {
	margin-left: auto;
	width: 25.59322%;
}

.breadcrumb {
	background: #00796b;
}

.breadcrumb > .inner {
	padding-bottom: 0;
	padding-top: 0;
}

.breadcrumb-list {
	align-items: center;
	display: flex;
	overflow: hidden;
}

.breadcrumb-list li {
	white-space: nowrap;
}

.breadcrumb-list a {
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.breadcrumb-list a:hover {
	opacity: 0.6;
}

.breadcrumb-list a,
.breadcrumb-list .breadcrumb_current {
	color: #fff;
	font-size: 14px;
	padding: 10px 20px;
}

.breadcrumb_bridge {
	color: #fff;
	font-size: 14px;
}

.contact-item {
	display: flex;
}

.contact-item dt,
.contact-item dd {
	padding: 16px 12px;
}

.contact-item dt {
	width: 150px;
}

.contact-item dd {
	width: calc(100% - 150px);
}

.contact-submit {
	text-align: center;
}

span.wpcf7-list-item {
	margin: 0;
}

.drawer {
	display: none;
	z-index: 40;
}

.drawer-open {
	background: transparent;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	position: relative;
	transition: 0.3s ease-in-out;
	vertical-align: middle;
	width: 50px;
	z-index: 41;
}

.drawer-open span {
	background: #333;
	border-radius: 2px;
	display: block;
	height: 4px;
	left: 50%;
	margin: -2px 0 0 -14px;
	position: absolute;
	top: 50%;
	transition: 0.3s ease-in-out;
	width: 28px;
}

.drawer-open span::before,
.drawer-open span::after {
	-webkit-transform: rotate(0);
	background: #333;
	border-radius: 2px;
	content: "";
	cursor: pointer;
	display: block;
	height: 100%;
	left: 50%;
	margin: -2px 0 0 -50%;
	position: absolute;
	top: 50%;
	transform: rotate(0);
	transition: 0.3s ease-in-out;
	width: 100%;
}

.drawer-open span::before {
	-webkit-transform: rotate(0);
	margin-top: -10px;
	transform: rotate(0);
}

.drawer-open span::after {
	-webkit-transform: rotate(0);
	margin-top: 6px;
	transform: rotate(0);
}

.drawer-open.m_checked span {
	background: rgba(255, 255, 255, 0);
}

.drawer-open.m_checked span::before,
.drawer-open.m_checked span::after {
	background: #fff;
	border-radius: 2px;
	content: "";
	display: block;
	height: 4px;
	left: 50%;
	margin: -2px 0 0 -14px;
	position: absolute;
	top: 50%;
	width: 28px;
}

.drawer-open.m_checked span::before {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.drawer-open.m_checked span::after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.drawer-close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: 0.3s ease-in-out;
	width: 100%;
	z-index: 39;
}

.drawer-close.m_checked {
	display: block;
	opacity: 0.4;
}

.drawer-content {
	-webkit-transform: translateX(105%);
	background: #00796b;
	color: #fff;
	height: 100%;
	max-width: 90%;
	overflow: auto;
	padding-top: 60px;
	position: fixed;
	right: 0;
	text-align: left;
	top: 0;
	transform: translateX(105%);
	transition: 0.3s ease-in-out;
	width: 250px;
	z-index: 40;
}

.drawer-content .drawer-title {
	font-size: 1em;
	font-weight: 700;
	padding: 0 34px;
	text-align: center;
}

.drawer-content.m_checked {
	-webkit-transform: translateX(0);
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	transform: translateX(0);
}

.drawer-nav li a {
	display: block;
	font-size: 16px;
	padding: 16px;
	text-decoration: none;
}

.drawer-nav li a span {
	color: #00796b;
	font-size: 14px;
	margin-left: 12px;
}

.drawer-nav li.menu-item-has-children {
	position: relative;
}

.drawer-nav li.menu-item-has-children .sub-menu {
	display: none;
	padding-left: 24px;
}

.drawer-nav li.menu-item-has-children .sub-menu a {
	font-size: 14px;
	padding-bottom: 12px;
	padding-top: 12px;
}

.drawer-nav li.menu-item-has-children a {
	padding-right: 46px;
}

.drawer-nav li.menu-item-has-children span::after {
	content: "\f078";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 18px;
	font-weight: 900;
	position: absolute;
	right: 16px;
	top: 12px;
}

.drawer-nav li.menu-item-has-children.m_open .sub-menu {
	display: block;
}

.drawer-nav li.menu-item-has-children.m_open span::after {
	content: "\f106";
}

.entries {
	margin-top: 32px;
}

.entry-item {
	background: #fff;
	border: 1px solid #eee;
	display: flex;
	margin-bottom: 32px;
	padding: 24px 12px;
}

.entry-item:last-child {
	margin-bottom: 0;
}

.entry-item-img {
	padding: 0 12px;
	text-align: center;
	width: 30%;
}

.entry-item-img a {
	transition: all 0.3s ease 0s;
}

.entry-item-img a:hover {
	opacity: 0.6;
}

.entry-item-body {
	padding: 0 12px;
	width: 70%;
}

.entry-item-meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 8px;
}

.entry-item-published {
	color: #666;
	font-size: 12px;
	margin-left: auto;
	white-space: nowrap;
}

.entry-item-published::before {
	content: "\f073";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 400;
	margin-right: 8px;
}

.entry-item-tag {
	white-space: nowrap;
}

.entry-item-tag a {
	background: #333;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 4px 8px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-item-tag a:hover {
	opacity: 0.6;
}

.entry-item-title {
	line-height: 1.2;
	margin-bottom: 8px;
}

.entry-item-title a {
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-item-title a:hover {
	opacity: 0.6;
}

.entry-item-excerpt {
	color: #666;
	font-size: 14px;
}

.entry-item-auther {
	margin-top: 16px;
	text-align: right;
}

.entry-item-auther a {
	color: #666;
	font-size: 14px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
}

.entry-item-auther a:hover {
	opacity: 0.6;
}

.entry-item-auther img {
	border-radius: 50%;
	margin-right: 4px;
	vertical-align: middle;
	width: 30px;
}

.entry {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 32px;
	padding: 24px 24px 42px;
}

.entry-header {
	margin-bottom: 8px;
}

.entry-title {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 16px;
}

.entry-meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 8px;
}

.entry-published {
	color: #666;
	font-size: 12px;
	margin-left: auto;
	white-space: nowrap;
}

.entry-published::before {
	content: "\f073";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 400;
	margin-right: 8px;
}

.entry-tag {
	white-space: nowrap;
}

.entry-tag a {
	background: #333;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 4px 8px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-tag a:hover {
	opacity: 0.6;
}

.entry-img {
	text-align: center;
}

.entry-body {
	margin-top: 32px;
}

.entry-body h2 {
	font-size: 24px;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.entry-body h3 {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 1em;
	margin-top: 3em;
}

.entry-body h4 {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.entry-body h5 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.entry-body h6 {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.entry-body p {
	line-height: 1.6;
	margin-top: 1.2em;
}

.entry-body ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.entry-body ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.entry-body li {
	line-height: 1.6;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}

.entry-body blockquote {
	background: #eee;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}

.entry-body blockquote > :first-child {
	margin-top: 0;
}

.entry-body blockquote > :last-child {
	margin-bottom: 0;
}

.entry-body q {
	background: #eee;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

.entry-body strong,
.entry-body em,
.entry-body b {
	font-weight: 700;
}

.entry-body a {
	text-decoration: underline;
	transition: all 0.3s ease 0s;
}

.entry-body a:hover {
	opacity: 0.6;
}

.entry-body img {
	vertical-align: middle;
}

.entry-body dl {
	margin-top: 1em;
}

.entry-body dt {
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 0.8em;
}

.entry-body dd {
	padding-left: 4px;
}

.entry-body var,
.entry-body code,
.entry-body kbd {
	background: #fee;
	color: #00796b;
	display: inline-block;
	font-style: normal;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

.entry-body pre {
	margin-top: 1.2em;
	overflow: auto;
	padding: 1em;
	white-space: pre;
}

.entry-body pre code {
	background: #2d2d2d;
	color: #fff;
	margin: -1em;
	padding: 12px;
	position: relative;
}

.entry-links {
	display: flex;
	justify-content: center;
	margin-top: 32px;
}

.entry-links .post-page-numbers {
	background: #eee;
	border: 1px solid #eee;
	color: #333;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	margin-right: 12px;
	min-width: 36px;
	text-align: center;
}

.entry-links .post-page-numbers:last-child {
	margin-right: 0;
}

.entry-links .post-page-numbers.current {
	background: #00796b;
	border: 1px solid #00796b;
	color: #fff;
}

.entry-links .post-page-numbers:first-child {
	margin-left: 0;
}

.entry-links .post-page-numbers:last-child {
	margin-right: 0;
}

.entry-links a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-links a:hover {
	background: #00796b;
	border: 1px solid #00796b;
	color: #fff;
	opacity: 1;
}

.entry-pager {
	display: flex;
	flex-direction: row-reverse;
}

.entry-prev {
	margin-right: auto;
	width: 40%;
}

.entry-next {
	margin-left: auto;
	width: 40%;
}

.entry-pager-head {
	color: #666;
	display: block;
	margin-bottom: 4px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-pager-head:hover {
	opacity: 0.6;
}

.entry-pager-head::before {
	content: "\f053";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 6px;
}

.entry-next .entry-pager-head {
	text-align: right;
}

.entry-next .entry-pager-head::before {
	display: none;
}

.entry-next .entry-pager-head::after {
	content: "\f054";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-left: 6px;
}

.entry-pager-item {
	background: #fff;
	border: 1px solid #eee;
	display: flex;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-pager-item:hover {
	opacity: 0.6;
}

.entry-next .entry-pager-item {
	flex-direction: row-reverse;
}

.entry-pager-img {
	width: 80px;
}

.entry-pager-img img {
	width: 80px;
}

.entry-pager-body {
	padding: 12px;
	width: calc(100% - 80px);
}

.entry-pager-title {
	font-size: 14px;
}

.swiper-container {
	overflow: visible;
}

.swiper-slide {
	display: block;
	opacity: 0.6;
	text-align: center;
}

.swiper-slide.swiper-slide-active {
	opacity: 1;
}

.swiper-slide img {
	width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
	-webkit-transform: translateY(-50%);
	height: 50px;
	line-height: 50px;
	margin-top: 0;
	text-align: center;
	transform: translateY(-50%);
	width: 50px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
	opacity: 0.6;
}

.swiper-button-prev {
	background: none;
	left: 16px;
}

.swiper-button-prev::after {
	-webkit-transform: translateY(-50%);
	color: #fff;
	content: "\f053";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 50px;
	font-weight: 900;
	left: 0;
	position: absolute;
	right: auto;
	top: 50%;
	transform: translateY(-50%);
}

.swiper-button-next {
	background: none;
	right: 16px;
}

.swiper-button-next::after {
	-webkit-transform: translateY(-50%);
	color: #fff;
	content: "\f054";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 50px;
	font-weight: 900;
	left: auto;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.swiper-pagination-bullet {
	background: rgba(255, 255, 255, 0.5);
	height: 10px;
	width: 10px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 14px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin-left: 10px;
	margin-right: 10px;
}

.swiper-pagination-bullet-active {
	background: #fff;
}

.sns-buttons ul {
	display: flex;
	flex-wrap: wrap;
}

.sns-buttons li {
	margin: 16px 12px 16px 0;
	width: calc(25% - 12px * 3 / 4);
}

.sns-buttons li:last-child {
	margin-right: 0;
}

.sns-buttons li i {
	font-style: normal;
	font-weight: 700;
	margin-right: 4px;
}

.sns-buttons li a {
	background: #666;
	border-radius: 2px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	display: block;
	font-weight: 700;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.sns-buttons li a:hover {
	opacity: 0.6;
}

.sns-buttons li a.m_twitter {
	background: #64b5f6;
}

.sns-buttons li a.m_facebook {
	background: #5c6bc0;
}

.sns-buttons li a.m_hatena {
	background: #00a4de;
}

.sns-buttons li a.m_line {
	background: #5bcc49;
}

.sns-buttons li a.m_pocket {
	background: #ef5350;
}

.sns-buttons-org ul {
	display: flex;
}

.sns-buttons-org li {
	margin-bottom: 8px;
	margin-right: 8px;
}

.sns-buttons-org li:last-child {
	margin-right: 0;
}

/* SNSボタンウィジェット */

.fb-share-button > span {
	vertical-align: top !important;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-caption {
	font-size: 14px;
	padding: 4px;
	text-align: left;
}

.gallery-icon {
	text-align: center;
}

.gallery-item {
	margin-bottom: 8px;
	padding: 4px;
	width: 100%;
}

.gallery-item a {
	transition: all 0.3s ease 0s;
}

.gallery-item a:hover {
	opacity: 0.6;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11111%;
}

.pagenation {
	display: flex;
	justify-content: center;
	margin-top: 32px;
}

.pagenation a {
	transition: all 0.3s ease 0s;
}

.pagenation a:hover {
	background: #00796b;
	border: 1px solid #00796b;
	color: #fff;
}

.pagenation a.next,
.pagenation a.prev {
	background: #eee;
	border: 1px solid #eee;
}

.pagenation a.next:hover,
.pagenation a.prev:hover {
	background: #00796b;
	border: 1px solid #00796b;
	color: #fff;
}

.page-numbers {
	background: #eee;
	border: 1px solid #eee;
	color: #333;
	height: 42px;
	line-height: 42px;
	margin-right: 8px;
	min-width: 42px;
	text-align: center;
	text-decoration: none;
}

.page-numbers:last-child {
	margin-right: 0;
}

.page-numbers.current {
	background: #00796b;
	border: 1px solid #00796b;
	color: #fff;
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
	border: none;
}

.wp-caption {
	margin: 1.2em auto 0;
	max-width: 100%;
	text-align: center;
}

.wp-caption a {
	transition: all 0.3s ease 0s;
}

.wp-caption a:hover {
	opacity: 0.6;
}

.wp-caption-text {
	font-size: 13px;
	padding: 4px;
	text-align: left;
}

.post_password {
	margin-top: 1.2em;
	position: relative;
}

.post_password .post_password-field {
	height: 42px;
	line-height: 42px;
	width: 100%;
}

.post_password .post_password-submit {
	-webkit-transform: translateY(-50%);
	height: 40px;
	padding-bottom: 0;
	padding-top: 0;
	position: absolute;
	right: 1px;
	top: 50%;
	transform: translateY(-50%);
}

.alignleft {
	float: left;
	margin: 8px 8px 8px 0;
	max-width: 48%;
}

.alignright {
	float: right;
	margin: 8px 0 8px 8px;
	max-width: 48%;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.sticky {
	position: relative;
}

.sticky::before {
	background: #00796b;
	color: #fff;
	content: "PICK UP";
	font-size: 12px;
	left: 0;
	padding: 4px 8px;
	position: absolute;
	top: 0;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	height: auto;
	max-width: 100%;
}

.widget.widget_archive select {
	background: transparent url(../img/arrow.svg) no-repeat center right 8px/12px 8px;
	width: 100%;
}

.widget {
	background: #fff;
	margin-bottom: 32px;
}

.widget:last-child {
	margin-bottom: 0;
}

.widget ul {
	padding: 0 16px;
}

.widget ul.children li {
	margin-top: 16px;
}

.widget ul.sub-menu li {
	margin-top: 16px;
}

.widget > ul {
	padding: 16px;
}

.widget .menu {
	padding: 16px;
}

.widget li {
	font-size: inherit;
	margin-bottom: 16px;
}

.widget li:last-child {
	margin-bottom: 0;
}

.widget li a {
	display: inline-block;
	font-size: inherit;
	text-decoration: none;
}

.widget a {
	transition: all 0.3s ease 0s;
}

.widget a:hover {
	color: #00796b;
	text-decoration: underline;
}

.widget-title {
	background: #00796b;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 8px 16px;
}

.widget.widget_calendar {
	padding-bottom: 0;
}

#wp-calendar caption {
	padding: 4px;
}

#wp-calendar th,
#wp-calendar td {
	text-align: center;
}

#wp-calendar #prev {
	text-align: left;
}

#wp-calendar #next {
	text-align: right;
}

#wp-calendar a {
	color: #00796b;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

#wp-calendar a:hover {
	opacity: 0.6;
}

.widget.widget_categories select {
	background: transparent url(../img/arrow.svg) no-repeat center right 8px/12px 8px;
	width: 100%;
}

.widget.widget_meta abbr {
	text-decoration: none;
}

#recentcomments .recentcomments {
	color: #666;
	font-size: 14px;
}

#recentcomments .recentcomments a {
	color: #333;
	font-size: 16px;
	text-decoration: underline;
}

#recentcomments .recentcomments a:hover {
	color: #00796b;
}

.post-date {
	color: #666;
	display: block;
	font-size: 14px;
}

.widget.widget_rss cite {
	color: #666;
	font-size: 14px;
}

.rss-widget-icon {
	margin-top: -4px;
	vertical-align: middle;
}

.rsswidget {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
}

.rsswidget:hover {
	opacity: 0.6;
}

.rss-date {
	color: #666;
	font-size: 14px;
}

.rssSummary {
	color: #666;
	font-size: 14px;
}

.widget.widget_search {
	padding-bottom: 0;
}

.search-form {
	position: relative;
}

.screen-reader-text {
	position: absolute;
	top: 0;
	z-index: -1;
}

.search-field {
	height: 42px;
	line-height: 42px;
	width: 100%;
}

.search-submit {
	-webkit-transform: translateY(-50%);
	height: 40px;
	padding: 0;
	position: absolute;
	right: 1px;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
}

.tagcloud {
	padding: 16px;
}

.tag-cloud-link {
	background: #eee;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px !important;
	margin: 0 6px 6px 0;
	padding: 2px 6px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	white-space: nowrap;
}

.textwidget {
	padding: 16px;
}

.archive-header {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 48px;
	padding: 24px 16px;
}

.archive-header .search-form {
	margin-top: 32px;
}

.archive-title {
	font-size: 32px;
	margin-bottom: 8px;
	text-align: center;
}

.archive-description {
	text-align: center;
}

#footer-menu > .inner {
	padding-bottom: 32px;
	padding-top: 32px;
}

.footer-nav {
	text-align: center;
}

.footer-nav li {
	display: inline-block;
	margin: 0 16px 16px 0;
	text-decoration: none;
}

.footer-nav li:last-child {
	margin-bottom: 0;
	margin-right: 0;
}

.footer-nav li a {
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer-nav li a:hover {
	opacity: 0.6;
}

#footer {
	background: #666;
}

#footer > .inner {
	padding-bottom: 0;
	padding-top: 0;
}

.copy {
	color: #fff;
	font-size: 13px;
	padding: 8px;
}

.copy a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.copy a:hover {
	opacity: 0.6;
}

.totop {
	bottom: 8px;
	display: none;
	position: fixed;
	right: 8px;
}

.totop a {
	background: #00796b;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	display: block;
	height: 42px;
	line-height: 42px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 42px;
}

.totop a:hover {
	opacity: 0.6;
}

#header {
	background: #fff;
	width: 100%;
	z-index: 20;
}

#header.m_anim {
	-webkit-animation: fadeInDown 0.5s ease 0s 1 normal none running;
	animation: fadeInDown 0.5s ease 0s 1 normal none running;
}

#header.m_fixed {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
	left: 0;
	position: fixed;
	top: 0;
}

#header > .inner {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 0;
	padding-top: 0;
}

.header-logo {
	margin-right: auto;
}

.header-logo a {
	display: block;
	transition: all 0.3s ease 0s;
}

.header-logo a:hover {
	opacity: 0.6;
}

.header-logo img {
	max-height: 100%;
	vertical-align: middle;
	width: 200px;
}

.header-nav .header-list {
	display: flex;
}

.header-nav li {
	margin-right: 12px;
	position: relative;
	z-index: 22;
}

.header-nav li:hover > .sub-menu {
	opacity: 1;
	visibility: visible;
}

.header-nav li:last-child {
	margin-right: 0;
}

.header-nav li:last-child .sub-menu {
	left: auto;
	right: 0;
}

.header-nav li > a {
	color: #333;
	display: block;
	font-size: 14px;
	height: 80px;
	line-height: 80px;
	padding: 0 4px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.header-nav li > a:hover {
	opacity: 0.6;
}

.header-nav .sub-menu {
	font-size: 16px;
	left: 0;
	min-width: 200px;
	opacity: 0;
	position: absolute;
	top: 100%;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 100%;
	z-index: 21;
}

.header-nav .sub-menu li {
	display: block;
	margin-bottom: 2px;
	margin-right: 0;
}

.header-nav .sub-menu li a {
	background: #00796b;
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 400;
	height: auto;
	letter-spacing: 0.05em;
	line-height: 1.6;
	padding: 8px 28px 8px 16px;
}

#mv {
	overflow: hidden;
}

.mv-image {
	height: 500px;
}

.mv-image img {
	-o-object-fit: cover;
	-o-object-position: center center;
	object-fit: cover;
	object-position: center center;
	width: 100%;
}

@media screen and (max-width: 1179px) {

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

}

@media screen and (max-width: 767px) {

.inner {
	padding-left: 12px;
	padding-right: 12px;
}

#content > .inner {
	display: block;
}

#primary {
	margin-bottom: 32px;
	width: 100%;
}

#secondary {
	width: 100%;
}

.contact-item {
	display: block;
}

.contact-item dt,
.contact-item dd {
	padding: 0;
}

.contact-item dt {
	margin-bottom: 6px;
	width: 100%;
}

.contact-item dd {
	margin-bottom: 20px;
	width: 100%;
}

.drawer {
	display: block;
}

.entry-item {
	display: block;
}

.entry-item-img {
	padding: 0;
	width: 100%;
}

.entry-item-body {
	padding: 12px 0;
	width: 100%;
}

.entry-pager {
	display: block;
}

.entry-prev {
	width: 100%;
}

.entry-next {
	margin-bottom: 12px;
	width: 100%;
}

.entry-pager-head {
	font-size: 14px;
}

.sns-buttons {
	margin-bottom: 6px;
	margin-top: 6px;
}

.sns-buttons li {
	margin-bottom: 6px;
	margin-top: 6px;
	width: calc(50% - 12px * 1 / 2);
}

.sns-buttons li:nth-child(2n) {
	margin-right: 0;
}

.page-numbers {
	height: 38px;
	line-height: 38px;
	min-width: 38px;
}

.totop a {
	height: 38px;
	line-height: 38px;
	width: 38px;
}

.header-nav {
	display: none;
}

}

@-webkit-keyframes fadeInDown {

from {
	-webkit-transform: translateY(-50px);
	opacity: 0;
	transform: translateY(-50px);
}

to {
	-webkit-transform: translateY(0);
	opacity: 1;
	transform: translateY(0);
}

}

@keyframes fadeInDown {

from {
	-webkit-transform: translateY(-50px);
	opacity: 0;
	transform: translateY(-50px);
}

to {
	-webkit-transform: translateY(0);
	opacity: 1;
	transform: translateY(0);
}

}

