.widget.widget_tag_cloud {
}

.tagcloud {
	padding: 0 16px;
}

.tag-cloud-link {
	transition: all 0.3s ease 0s;
	display: inline-block;
	white-space: nowrap;
	font-size: 12px !important;
	border-radius: 2px;
	background: #eee;
	text-decoration: none;
	margin: 0 6px 6px 0;
	padding: 2px 6px;

	&:hover {
		opacity: $opacity;
	}
}

.tag-link-count {
}
