.pagenation {
	text-align: center;
	margin-top: 32px;

	a {
		transition: all 0.3s ease 0s;

		&:hover {
			color: #fff;
			background: $cr-m;
			border: 1px solid $cr-m;
		}

		&.next,
		&.prev {
			background: none;
			border: none;

			&:hover {
				color: initial;
				opacity: $opacity;
			}
		}
	}
}

.page-numbers {
	border: 1px solid #eee;
	background: #fff;
	text-align: center;
	min-width: 50px;
	height: 50px;
	line-height: 50px;
	color: #333;
	text-decoration: none;
	display: inline-block;
	margin-right: 8px;

	@include mq("sp") {
		min-width: 38px;
		height: 38px;
		line-height: 38px;
	}

	&:last-child {
		margin-right: 0;
	}

	&.current {
		color: #fff;
		background: $cr-m;
		border: 1px solid $cr-m;
	}

	&.dots,
	&.next,
	&.prev {
		border: none;
	}
}
