.wp-caption {
	max-width: 100%;
	text-align: center;
	margin: 1.2em auto 0;

	a {
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity;
		}
	}
}

.wp-caption-text {
	padding: 4px;
	font-size: 13px;
	text-align: left;
}

.post_password {
	position: relative;
	margin-top: 1.2em;

	.post_password-field {
		height: 42px;
		line-height: 42px;
		width: 100%;
	}

	.post_password-submit {
		position: absolute;
		right: 1px;
		top: 50%;
		transform: translateY(-50%);
		height: 40px;
		padding-top: 0;
		padding-bottom: 0;
	}
}

.alignleft {
	float: left;
	margin: 8px 8px 8px 0;
	max-width: 48%;
}

.alignright {
	float: right;
	margin: 8px 0 8px 8px;
	max-width: 48%;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.sticky {
	position: relative;

	&::before {
		content: "PICK UP";
		position: absolute;
		top: 0;
		left: 0;
		color: #fff;
		background: $cr-m;
		font-size: 12px;
		padding: 4px 8px;
	}
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.bypostauthor {

}
