// ベース色
$cr-m: #efa336;

// 背景
$cr-bg: #f9f8f5;

// テキスト色
$cr-txt: #333;

// 透過度
$opacity: 0.6;

// テーブル
$table-color: (
	"background": #fff,
	"background-th": #ffecb3,
	"border": #ddd
);

// フォーム
$my-form: (
	"border": #eee,
	"border-active": #eee,
	"radio": #efa336,
	"checkbox": #efa336
);

// コード
$code-bg: #ef5350;
$code-txt: #fff;
$pre-code-bg: #2d2d2d;

// ボタン
$btn: (
	"background": #e65100,
	"color": #fff
);

// 必須
$cr-required: #e57373;

// SNS
$sns-color: (
	"twitter": #1da1f2,
	"facebook": #3b5998,
	"hatena": #018fde,
	"line": #00b902,
	"pocket": #ef4156,
	"feedly": #6cc654,
	"rss": #ea781a
);

// ヘッダー
$header: (
	"pickup": #e65100,
	"background-sub": #efa336,
	"color-sub": #fff
);

// フッター
$footer: (
	"background": #666,
	"color": #fff
);

// ウィジェット
$widget: (
	"background": #efa336,
	"color": #fff
);

// タグクラウド
$tagcloud: (
	"background": #eee,
	"color": #333
);

// ページネーション
$pagenation: (
	"background": #eee,
	"color": #333,
	"border": #eee,
	"background-active": #efa336,
	"color-active": #fff,
	"border-active": #efa336
);

// sticky
$sticky: (
	"background": #e65100,
	"color": #fff
);

// floating
$floating: (
	"background": #e65100,
	"color": #fff
);

// インフォメーション
$infomation: (
	"background": #efa336,
	"color": #fff
);

// リンク
$link: (
	"color": #efa336
);
