$cr-form-bd: #eee;
$cr-form-bd_avtive: $cr-m;

$cr-check: #eee;
$cr-check_active: $cr-m;

$cr-btn: $cr-a;

$size-checkbox: 20px;
$size-checkbox-pd_left: 26px;

$size-radio: 20px;
$size-radio_active: 10px;
$size-radio-pd_left: 26px;
