// レイアウト幅
$layout-width-canvas: 1440px;
$layout-width-inner: 1180px;
$layout-width-main: 840px;

// 38pxは余白の幅
$layout-width-side: $layout-width-inner - $layout-width-main - 38px;

// ブレークポイント
$breakpoints: (
	"sp": "screen and (max-width: 767px)",
	"tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
	"tab": "screen and (max-width: #{$layout-width-inner - 1px})",
	"pc": "screen and (min-width: #{$layout-width-inner})",
	"ie": "screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none)"
);

// ヘッダー高さ
$header-height: 80px;
$header-height-sp: 60px;

// z-index の指定
$layer: (
	loading: 200,
	modal: 100,
	drawer: 40,
	floating: 30,
	header: 20,
	footer: 10,
	default: 1
);

// ベースの余白
$pd-tab: 24px;
$pd-sp: 12px;

// ベースの余白
$pd-entry-pc: 24px;
$pd-entry-sp: 16px;

// フォーム
$size-checkbox: 20px;
$size-checkbox-pd_left: 26px;

$size-radio: 20px;
$size-radio_active: 10px;
$size-radio-pd_left: 26px;
