[type="submit"],
[type="button"],
.c-button,
.post_password .post_password-submit {
	-webkit-appearance: none;
	background-color: #9e9e9e;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-size: 1em;
	margin: 0;
	padding: 0.3em 1.2em;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

:not(:disabled)[type="submit"],
:not(:disabled)[type="button"],
.c-button:not(:disabled),
.post_password .post_password-submit:not(:disabled) {
	cursor: pointer;
}

:hover[type="submit"],
:hover[type="button"],
.c-button:hover,
.post_password .post_password-submit:hover {
	outline: none;
}

[type="submit"]::-moz-foucus-inner,
[type="button"]::-moz-foucus-inner,
.c-button::-moz-foucus-inner,
.post_password .post_password-submit::-moz-foucus-inner {
	border: none;
	padding: 0;
}

[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
[type="number"],
[type="date"],
[type="month"],
[type="week"],
[type="time"],
[type="datetime-local"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 0.95em;
	padding: 0.4em 0.8em;
	width: auto;
}

textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: none;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 0.95em;
	height: 100px;
	padding: 0.4em 0.8em;
	resize: none;
	width: auto;
}

[type="radio"] {
	display: none;
}

[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0 1em 0 1.4em;
	position: relative;
}

[type="radio"] + span::before {
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 50%;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

[type="radio"] + span::after {
	background: #616161;
	border: 1px solid #9e9e9e;
	border-radius: 50%;
	box-shadow: 0 0 0 0.1em #fff inset;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 1em;
}

:checked[type="radio"] + span::before {
	border: 1px solid #9e9e9e;
}

:checked[type="radio"] + span::after {
	opacity: 1;
}

[type="checkbox"] {
	display: none;
}

[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0 1em 0 1.4em;
	position: relative;
}

[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #bdbdbd;
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

[type="checkbox"] + span::after {
	border-bottom: 3px solid #616161;
	border-left: 3px solid #616161;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	transition: all 0.3s ease 0s;
	width: 1em;
}

:checked[type="checkbox"] + span::before {
	border: 1px solid #9e9e9e;
}

:checked[type="checkbox"] + span::after {
	opacity: 1;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url(../img/arrow-select.svg);
	background-position: center right 0.2em;
	background-repeat: no-repeat;
	background-size: 16px auto;
	border: 1px solid #bdbdbd;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 2.4em 0.4em 0.8em;
	width: auto;
}

select::-ms-expand {
	display: none;
}

select[multiple] {
	background-image: none;
	height: 100px;
	padding: 0;
}

select[multiple] option {
	padding: 0.4em 1.2em 0.4em 0.4em;
}

.fadein {
	opacity: 0.1;
	transform: translate(0, 30px);
	transition: all 0.5s ease 0s;
}

.fadein.m-anim {
	opacity: 1;
	transform: translate(0, 0);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	color: #424242;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	margin: 0;
	padding: 0;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video {
	height: auto;
	max-width: 100%;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #bdbdbd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

th,
td {
	border: 1px solid #bdbdbd;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

th {
	background: #eee;
	color: #424242;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

input,
textarea,
select {
	max-width: 100%;
}

[type="text"].m-full,
[type="search"].m-full,
[type="tel"].m-full,
[type="url"].m-full,
[type="email"].m-full,
[type="password"].m-full,
[type="number"].m-full,
[type="date"].m-full,
[type="month"].m-full,
[type="week"].m-full,
[type="time"].m-full,
[type="datetime-local"].m-full {
	width: 100%;
}

[data-target] {
	cursor: pointer;
}

.l-content {
	padding: 60px 0;
	width: 100%;
}

.l-content__inner {
	display: flex;
	flex-wrap: wrap;
	height: inherit;
}

.l-primary {
	width: 100%;
}

.l-secondary {
	margin-top: 3.2rem;
	width: 100%;
}

.l-entry {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 32px;
	padding: 24px 16px 42px;
}

.l-entry__header {
	margin-bottom: 8px;
}

.l-entry__body {
	margin-top: 32px;
}

.l-footer {
	background: #757575;
	width: 100%;
	z-index: 10;
}

.l-header {
	background: #fff;
	height: 60px;
	width: 100%;
	z-index: 20;
}

.l-header.m-fixed {
	left: 0;
	position: fixed;
	top: 0;
}

.l-header__row {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: inherit;
}

.l-header__logo {
	margin-right: auto;
	padding-right: 0;
}

.l-header__global {
	display: none;
}

.l-header__drawer {
	display: block;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 100%;
	padding: 0 16px;
	width: 1180px;
}

.l-row {
	display: flex;
	flex-wrap: wrap;
	height: inherit;
}

.l-row--middle {
	align-items: center;
}

.l-row--center {
	align-items: center;
}

.l-row--reverse {
	flex-direction: row-reverse;
}

.l-row__col {
	padding: 0;
}

.l-row--padding .l-row__col {
	padding: 0.8em;
}

.l-row__col01 {
	width: 8.33333%;
}

.l-row__col02 {
	width: 16.66667%;
}

.l-row__col03 {
	width: 25%;
}

.l-row__col04 {
	width: 33.33333%;
}

.l-row__col05 {
	width: 41.66667%;
}

.l-row__col06 {
	width: 50%;
}

.l-row__col07 {
	width: 58.33333%;
}

.l-row__col08 {
	width: 66.66667%;
}

.l-row__col09 {
	width: 75%;
}

.l-row__col10 {
	width: 83.33333%;
}

.l-row__col11 {
	width: 91.66667%;
}

.l-row__col12 {
	width: 100%;
}

.c-drawer {
	z-index: 40;
}

.c-drawer__close {
	background: #000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 39;
}

.c-drawer__close.is-checked {
	display: block;
	opacity: 0.4;
}

.c-drawer__icon {
	background-color: transparent;
	background-image: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-align: center;
	z-index: 41;
}

.c-drawer__icon::after {
	color: #757575;
	content: "MENU";
	display: block;
	font-size: 0.8rem;
	font-weight: 700;
	line-height: 1;
	margin-top: 8px;
	text-align: center;
}

.c-drawer__icon.is-checked::after {
	content: "CLOSE";
}

.c-drawer__bars {
	display: inline-block;
	height: 19px;
	position: relative;
	vertical-align: bottom;
	width: 30px;
}

.c-drawer__bar {
	background-color: #757575;
	border-radius: 2px;
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	right: 0;
	transition: all 0.3s linear 0s;
	width: 100%;
}

.c-drawer__bar:nth-of-type(1) {
	top: 0;
}

.c-drawer__bar:nth-of-type(2) {
	top: 8px;
}

.c-drawer__bar:nth-of-type(3) {
	top: 16px;
}

.is-checked .c-drawer__bar:nth-of-type(1) {
	top: 10px;
	transform: rotate(-45deg);
}

.is-checked .c-drawer__bar:nth-of-type(2) {
	background-color: transparent;
}

.is-checked .c-drawer__bar:nth-of-type(3) {
	top: 10px;
	transform: rotate(45deg);
}

.c-drawer__content {
	background: #fff;
	bottom: auto;
	color: #424242;
	display: none;
	height: 100%;
	left: auto;
	max-width: 90%;
	overflow: auto;
	padding-top: 60px;
	position: fixed;
	right: 0;
	text-align: left;
	top: 0;
	transform: translateX(105%);
	transition: all 0.5s ease 0s;
	width: 200px;
	z-index: 40;
}

.c-drawer__content.is-checked {
	box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	display: block;
	transform: translateX(0);
}

.c-drawer__content--left {
	left: 0;
	right: auto;
	transform: translateX(-105%);
}

.c-drawer__content--top {
	bottom: auto;
	height: 100%;
	max-width: 100%;
	top: 0;
	transform: translateY(-105%);
	width: 100%;
}

.c-drawer__content--cover {
	bottom: auto;
	height: 100%;
	max-width: 100%;
	opacity: 0;
	top: 0;
	transform: translateX(0);
	transition: all 0.5s linear 0s;
	visibility: hidden;
	width: 100%;
}

.c-drawer__content--cover.is-checked {
	opacity: 1;
	visibility: visible;
}

.c-icon-arrow-top {
	display: inline-block;
	font-size: 50px;
	height: 50px;
	overflow: hidden;
	position: relative;
	width: 50px;
}

.c-icon-arrow-top > span {
	border-right: 0.16em solid #757575;
	border-top: 0.16em solid #757575;
	display: block;
	height: 56%;
	left: 50%;
	margin: -14% 0 0 -28%;
	position: absolute;
	top: 50%;
	transform: rotate(-45deg);
	width: 56%;
}

.p-archive-header {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 48px;
	padding: 24px 16px;
	text-align: center;
}

.p-archive-header__title {
	font-size: 3.2rem;
	font-weight: 700;
	margin-bottom: 8px;
}

.p-archive-header__description {
	color: #666;
	font-size: 1.4rem;
}

.p-archive-header__form {
	margin-top: 32px;
	text-align: left;
}

.p-attachment-btn {
	margin-top: 32px;
	text-align: center;
}

.p-attachment-btn .c-button {
	text-decoration: none;
}

.p-breadcrumb ul {
	align-items: center;
	display: flex;
	overflow: hidden;
}

.p-breadcrumb ul li {
	padding: 8px 0;
	white-space: nowrap;
}

.p-breadcrumb ul a {
	display: block;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-breadcrumb ul a:hover {
	opacity: 0.6; /* opacity */
}

.p-breadcrumb ul a {
	color: #666;
	font-size: 1.3rem;
}

.p-breadcrumb__current {
	color: #666;
	font-size: 1.3rem;
}

.p-breadcrumb__bridge {
	color: #666;
	font-size: 1.3rem;
	padding: 0 16px;
}

.p-comments__title {
	font-size: 2rem;
	font-weight: 700;
	margin: 42px 0 24px;
}

.p-comments__list {
	margin-bottom: 32px;
}

.p-comments__nav {
	margin-top: 32px;
}

.p-comments__form {
	margin-top: 60px;
}

.p-comments-list li {
	margin-bottom: 24px;
}

.p-comments-list .children {
	margin-top: 24px;
	padding-left: 12px;
}

.p-comments-list .comment-body .reply {
	font-size: 1.4rem;
	text-align: right;
	transition: all 0.3s ease 0s;
}

.p-comments-list .comment-body .reply:hover {
	opacity: 0.6; /* opacity */
}

.p-comments-list .comment-meta {
	align-items: center;
	display: flex;
	margin-bottom: 8px;
}

.bypostauthor .p-comments-list .comment-meta {
	flex-direction: row-reverse;
}

.p-comments-list .comment-author {
	margin-right: auto;
}

.bypostauthor .p-comments-list .comment-author {
	margin-left: auto;
	margin-right: 0;
}

.p-comments-list .comment-author img {
	border-radius: 50%;
	margin-right: 4px;
	vertical-align: middle;
}

.p-comments-list .comment-author .fn {
	font-size: 1.4rem;
	vertical-align: middle;
}

.p-comments-list .comment-author .fn a {
	transition: all 0.3s ease 0s;
}

.p-comments-list .comment-author .fn a:hover {
	opacity: 0.6; /* opacity */
}

.p-comments-list .comment-author .says {
	color: #666;
	font-size: 1.2rem;
	vertical-align: middle;
}

.p-comments-list .comment-metadata {
	color: #666;
	font-size: 1.2rem;
}

.p-comments-nav ul {
	display: flex;
}

.p-comments-nav__prev,
.p-comments-nav__next {
	margin-right: auto;
}

.p-comments-nav__prev:last-child,
.p-comments-nav__next:last-child {
	margin-right: 0;
}

.p-comments-nav__prev a,
.p-comments-nav__next a {
	color: #666;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-comments-nav__prev a:hover,
.p-comments-nav__next a:hover {
	opacity: 0.6; /* opacity */
}

.comment-content h1 {
	font-size: 2.8rem;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.comment-content h2 {
	font-size: 2.4rem;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.comment-content h3 {
	font-size: 2rem;
	line-height: 1.4;
	margin-bottom: 1em;
	margin-top: 3em;
}

.comment-content h4 {
	font-size: 1.8rem;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.comment-content h5 {
	font-size: 1.6rem;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.comment-content h6 {
	font-size: 1.6rem;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.comment-content h2 + p,
.comment-content h3 + p,
.comment-content h4 + p,
.comment-content h5 + p,
.comment-content h6 + p {
	margin-top: 0;
}

.comment-content p {
	line-height: 1.6;
	margin-top: 1.2em;
}

.comment-content ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.comment-content ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.comment-content li {
	line-height: 1.6;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}

.comment-content blockquote {
	background: #eee;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}

.comment-content blockquote > :first-child {
	margin-top: 0;
}

.comment-content blockquote > :last-child {
	margin-bottom: 0;
}

.comment-content q {
	background: #eee;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

.comment-content strong,
.comment-content em,
.comment-content b {
	font-weight: 700;
}

.comment-content a {
	text-decoration: underline;
	transition: all 0.3s ease 0s;
}

.comment-content a:hover {
	opacity: 0.6; /* opacity */
}

.comment-content img {
	vertical-align: middle;
}

.comment-content dl {
	margin-top: 1em;
}

.comment-content dt {
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 0.8em;
}

.comment-content var,
.comment-content code,
.comment-content kbd { /* code-txt */
	background: #fee;
	color: #444; /* code-bg */
	display: inline-block;
	font-style: normal;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: baseline;
}

.comment-content pre {
	margin-top: 1.2em;
	overflow: auto;
	padding: 1em;
	white-space: pre;
}

.comment-content pre code {
	background: #2d2d2d; /* pre-code-bg */
	color: #fff;
	margin: -1em;
	overflow: auto;
	padding: 12px;
	position: relative;
}

.comment-respond .required {
	color: #e57373; /* cr-required */
	vertical-align: middle;
}

.comment-respond input,
.comment-respond textarea {
	vertical-align: top;
}

.comment-reply-title {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 12px;
}

.logged-in-as a {
	color: #666;
	transition: all 0.3s ease 0s;
}

.logged-in-as a:hover {
	opacity: 0.6; /* opacity */
}

.comment-notes {
	color: #666;
}

.comment-form label {
	display: block;
	margin: 10px 0 4px;
}

.comment-form .form-submit {
	margin-top: 24px;
	transition: all 0.3s ease 0s;
}

.comment-form .form-submit:hover {
	opacity: 0.6;
}

#wp-comment-cookies-consent + label {
	cursor: pointer;
	display: inline-block;
	margin: 24px 0 0 0;
	padding: 0 0 0 1.4em;
	position: relative;
	transition: all 1s ease 0s;
}

#wp-comment-cookies-consent + label::before {
	background: #fff;
	border: 1px solid #bdbdbd; /* form border */
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

#wp-comment-cookies-consent + label::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

#wp-comment-cookies-consent:checked + label::after { /* form checkbox */
	border-bottom: 4px solid #616161;
	border-left: 4px solid #616161;
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em; /* form checkbox */
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 1em;
}

.p-contact-item dt,
.p-contact-item dd {
	padding: 0;
}

.p-contact-item dt {
	margin-bottom: 6px;
	width: 100%;
}

.p-contact-item dd {
	margin-bottom: 20px;
	width: 100%;
}

.p-contact-item select {
	background-image: url(../img/arrow-select.svg);
}

.p-contact-submit {
	text-align: center;
}

.p-contact-submit [type="submit"] {
	transition: all 0.3s ease 0s;
}

.p-contact-submit [type="submit"]:hover {
	opacity: 0.6;
}

.p-drawer-nav li a {
	display: block;
	font-size: 1.4rem;
	padding: 12px 16px;
	text-decoration: none;
}

.p-drawer-nav li.menu-item-has-children {
	position: relative;
}

.p-drawer-nav li.menu-item-has-children .sub-menu {
	display: none;
	padding-left: 24px;
}

.p-drawer-nav li.menu-item-has-children .sub-menu a {
	font-size: 1.4rem;
	padding-bottom: 12px;
	padding-top: 12px;
}

.p-drawer-nav li.menu-item-has-children a {
	padding-right: 46px;
}

.p-drawer-nav li.menu-item-has-children.m-open .sub-menu {
	display: block;
}

.p-drawer-widget {
	padding: 0 12px;
}

.p-drawer-widget .sub-menu {
	display: none;
}

.p-entry-items {
	margin-top: 32px;
}

.p-entry-items.p-entry-items--square {
	display: flex;
	flex-wrap: wrap;
}

.p-entry-item {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 32px;
	padding: 12px;
	text-decoration: none;
}

.p-entry-item:last-child {
	margin-bottom: 0;
}

.p-entry-items--square .p-entry-item {
	display: block;
	margin-bottom: 32px;
	margin-right: 0;
	width: 100%;
}

.p-entry-items--square .p-entry-item:last-child {
	margin-bottom: 0;
}

.p-entry-item__img {
	padding: 0;
	text-align: center;
	width: 100%;
}

.p-entry-items--square .p-entry-item__img {
	padding: 0;
	width: 100%;
}

.p-entry-item__img-cover {
	overflow: hidden;
	padding-top: 71.42857%;
	position: relative;
}

.p-entry-item__img-cover a {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	text-decoration: none;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
}

.p-entry-item__img-cover a:hover {
	opacity: 0.6; /* opacity */
}

.p-entry-item__img-cover a img {
	-o-object-fit: cover;
	font-family: "object-fit: cover;";
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-entry-item__body {
	padding: 12px 0 0;
	width: 100%;
}

.p-entry-items--square .p-entry-item__body {
	padding: 12px 0 0;
	width: 100%;
}

.p-entry-item__meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 8px;
}

.p-entry-item__published {
	color: #666;
	font-size: 1.2rem;
	margin-left: auto;
	white-space: nowrap;
}

.p-entry-item__label {
	white-space: nowrap;
}

.p-entry-item__label a,
.p-entry-item__label span {
	background: #333;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 1.2rem;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
}

.p-entry-item__label a {
	text-decoration: none;
}

.p-entry-item__label a:hover {
	opacity: 0.6; /* opacity */
}

.p-entry-item__title {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 8px;
}

.p-entry-item__title a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-item__title a:hover {
	opacity: 0.6; /* opacity */
}

.p-entry-item__excerpt {
	color: #666;
	font-size: 1.4rem;
}

.p-entry-item__author {
	margin-top: 16px;
	text-align: right;
}

.p-entry-item__author a,
.p-entry-item__author span {
	color: #666;
	font-size: 1.4rem;
	vertical-align: middle;
}

.p-entry-item__author a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-item__author a:hover {
	opacity: 0.6; /* opacity */
}

.p-entry-item__author img {
	border-radius: 50%;
	margin-right: 4px;
	vertical-align: middle;
	width: 30px;
}

.p-entry-header__title {
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 16px;
}

.p-entry-header__meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 8px;
}

.p-entry-header__published {
	color: #9e9e9e;
	font-size: 1.2rem;
	margin-left: auto;
	white-space: nowrap;
}

.p-entry-header__update {
	color: #9e9e9e;
	font-size: 1.2rem;
	margin-left: 16px;
	white-space: nowrap;
}

.p-entry-header__label {
	white-space: nowrap;
}

.p-entry-header__label a,
.p-entry-header__label span {
	background: #424242;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 1.2rem;
	padding: 4px 8px;
	transition: all 0.3s ease 0s;
}

.p-entry-header__label a {
	text-decoration: none;
}

.p-entry-header__label a:hover {
	opacity: 0.6; /* opacity */
}

.p-attachment-img {
	margin-top: 12px;
	text-align: center;
}

.p-attachment-img__caption {
	color: #9e9e9e;
	font-size: 1.2rem;
	margin-top: 8px;
	text-align: center;
}

.p-entry-content {
	overflow: hidden;
}

.p-entry-content h2 {
	font-size: 2.4rem;
	line-height: 1.2;
	margin-bottom: 1em;
	margin-top: 3em;
}

.p-entry-content h3 {
	font-size: 2rem;
	line-height: 1.4;
	margin-bottom: 1em;
	margin-top: 3em;
}

.p-entry-content h4 {
	font-size: 1.8rem;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-entry-content h5 {
	font-size: 1.6rem;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-entry-content h6 {
	font-size: 1.6rem;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.p-entry-content p {
	line-height: 1.8;
	margin: 2em 0 0.4em;
}

.p-entry-content ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.p-entry-content ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.p-entry-content li {
	line-height: 1.6;
	margin-bottom: 0.6em;
	margin-top: 0.6em;
}

.p-entry-content blockquote {
	background: #eee;
	color: #333;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}

.p-entry-content blockquote > :first-child {
	margin-top: 0;
}

.p-entry-content blockquote > :last-child {
	margin-bottom: 0;
}

.p-entry-content q {
	background: #eee;
	box-shadow: 0 0 0 1px #eee;
	color: #333;
	padding: 0 0.2em;
	vertical-align: middle;
}

.p-entry-content th {
	background: #eee; /* table border */
}

.p-entry-content strong,
.p-entry-content em,
.p-entry-content b {
	font-weight: 700;
}

.p-entry-content a {
	text-decoration: underline;
	transition: all 0.3s ease 0s;
}

.p-entry-content a:hover {
	opacity: 0.6; /* opacity */
}

.p-entry-content img {
	vertical-align: middle;
}

.p-entry-content dl {
	margin-top: 1em;
}

.p-entry-content dt {
	font-weight: 700;
	margin-bottom: 4px;
	margin-top: 0.8em;
}

.p-entry-content var,
.p-entry-content code,
.p-entry-content kbd {
	background: #fee;
	box-shadow: 0 0 0 1px #fee;
	color: #444;
	font-family: monospace, sans-serif;
	font-style: normal;
	font-weight: 700;
	margin: 0 0.1em;
	padding: 0 0.2em;
	vertical-align: baseline;
}

.p-entry-content pre {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	background: rgba(239, 239, 239, 0.3);
	margin-top: 1.2em;
	overflow: auto;
	padding: 1em;
	tab-size: 2;
	white-space: pre;
}

.p-entry-content pre code {
	background: #2d2d2d;
	color: #fff;
	display: block;
	font-family: monospace, sans-serif;
	font-weight: 400;
	margin: -1em;
	overflow: auto;
	padding: 12px;
	position: relative;
}

.p-entry-pager {
	margin-top: 32px;
}

.p-entry-pager__head {
	color: #666;
	display: block;
	font-size: 1.4rem;
	margin-bottom: 4px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-pager__head:hover {
	opacity: 0.6; /* opacity */
}

.p-entry-pager__prev,
.p-entry-pager__next {
	width: 100%;
}

.p-entry-pager__prev {
	margin-right: auto;
}

.p-entry-pager__next {
	margin-bottom: 12px;
	margin-left: auto;
}

.p-entry-pager__next > .p-entry-pager__head {
	text-align: right;
}

.p-entry-pager__next > .p-entry-pager__head::before {
	display: none;
}

.p-entry-pager-item {
	background: #fff;
	border: 1px solid #eee;
	display: flex;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-pager-item:hover {
	opacity: 0.6; /* opacity */
}

.p-entry-pager-item.p-entry-pager-item--right {
	flex-direction: row-reverse;
}

.p-entry-pager-item__img {
	width: 80px;
}

.p-entry-pager-item__img img {
	width: 80px;
}

.p-entry-pager-item__body {
	padding: 12px;
	width: calc(100% - 80px);
}

.p-entry-pager-item__title {
	font-size: 1.4rem;
}

.p-entry-tags {
	align-items: center;
	border-top: 1px solid #eee;
	display: flex;
	flex-wrap: wrap;
	margin-top: 32px;
	padding-top: 12px;
}

.p-entry-tags__link {
	font-size: 1.2rem;
	margin: 0 6px 6px 0;
}

.p-entry-tags__link a {
	background: #eee;
	border-radius: 2px;
	color: #333;
	display: block;
	padding: 2px 6px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-tags__link a:hover {
	opacity: 0.6;
}

.p-entry-links {
	display: flex;
	justify-content: center;
	margin-top: 32px;
}

.p-entry-links .post-page-numbers {
	background: #eee; /* pagenation background */
	border: 1px solid #eee; /* pagenation border */
	color: #333;
	display: inline-block;
	height: 36px;
	line-height: 36px; /* pagenation color */
	margin-right: 12px;
	min-width: 36px;
	text-align: center;
}

.p-entry-links .post-page-numbers.current { /* pagenation color-active */
	background: #9e9e9e; /* pagenation background-active */
	border: 1px solid;
	color: #fff; /* pagenation borde-color-active */
}

.p-entry-links .post-page-numbers:first-child {
	margin-left: 0;
}

.p-entry-links .post-page-numbers:last-child {
	margin-right: 0;
}

.p-entry-links a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-entry-links a:hover { /* pagenation color-active */
	background: #9e9e9e; /* pagenation background-active */
	border: 1px solid #9e9e9e;
	color: #fff; /* pagenation border-color-active */
	opacity: 1;
}

.p-copy {
	color: #fff;
	font-size: 1.3rem;
	padding: 8px;
}

.p-copy a {
	margin: 0 0.4em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-copy a:hover {
	opacity: 0.6; /* opacity */
}

.p-copy__symbol {
	margin: 0 0.1em 0 0.4em;
}

.p-floating {
	bottom: 8px;
	display: none;
	position: fixed;
	right: 8px;
}

.p-floating a { /* floating color */
	background: #757575;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	display: block;
	height: 38px;
	line-height: 38px;
	text-align: center; /* floating background */
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 38px;
}

.p-floating a:hover {
	opacity: 0.6; /* opacity */
}

.p-floating .c-icon-arrow-top span {
	border-color: #fff;
	font-size: 26px;
	height: 18px;
	width: 18px;
}

.p-header-logo a {
	display: block;
	font-size: 2.8rem;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-header-logo a:hover {
	opacity: 0.6; /* opacity */
}

.p-header-logo img {
	max-height: 60px;
	vertical-align: middle;
	width: auto;
}

.p-header-nav ul {
	display: flex;
}

.p-header-nav li {
	margin-right: 12px;
	padding: 16px 0;
	position: relative;
	z-index: 22;
}

.p-header-nav li:last-child {
	margin-right: 0;
}

.p-header-nav li:last-child .sub-menu {
	left: auto;
	right: 0;
}

.p-header-nav li > a {
	display: block;
	font-size: 1.4rem;
	padding: 6px 8px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-header-nav li > a:hover {
	opacity: 0.6; /* opacity */
}

.p-header-nav li > a:hover + .sub-menu {
	opacity: 1;
	visibility: visible;
}

.p-header-nav li.m-pickup a {
	background: #e57373;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16); /* header pickup */
	color: #fff;
	font-weight: 700;
}

.p-header-nav .sub-menu {
	display: block;
	font-size: 1.6rem;
	left: 0;
	min-width: 200px;
	opacity: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 100%;
	z-index: 21;
}

.p-header-nav .sub-menu li {
	display: block;
	height: auto;
	margin-bottom: 2px;
	margin-right: 0;
	padding: 0;
}

.p-header-nav .sub-menu li a {
	background: #9e9e9e; /* header background-sub */
	color: #fff;
	display: block;
	font-size: 1.4rem;
	font-weight: 400;
	height: auto;
	letter-spacing: 0.05em;
	line-height: 1.6; /* header color-sub */
	padding: 8px 28px 8px 16px;
}

.rc-heading01 h2 {
	background: #efa336; /* $color-key */
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #ccc;
	color: #fff;
	letter-spacing: 0.03em;
	padding: 0.6em 0.8em;
	position: relative;
}

.rc-heading01 h2::after {
	border-color: #fff #fff #e7e7e7;
	border-radius: 0 0 0 2px;
	border-style: solid;
	border-width: 0 16px 16px 0;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
	content: "";
	position: absolute;
	right: 0;
	top: 0;
}

.rc-heading01 h3 {
	border-left: solid #efa336 6px;
	margin: 3.6em 0 0.8em;
	padding: 0.4em 0.8em; /* $color-key */
}

.rc-heading01 h4 { /* $color-key */
	border-bottom: solid 2px #efa336;
	border-top: solid 2px #efa336;
	display: inline-block;
	padding: 0.4em 0.8em; /* $color-key */
}

.rc-heading01 h5 {
	color: #efa336; /* $color-key */
}

.rc-heading01 h6 {
	color: #efa336; /* $color-key */
}

.p-main-visual {
	background: #9e9e9e;
	min-height: 300px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.p-main-visual > img {
	-o-object-fit: cover;
	font-family: "object-fit: cover;";
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-main-visual::before {
	background: rgba(0, 0, 0, 0.3);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.p-main-visual__content {
	color: #fff;
	left: 50%;
	max-width: 100%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
}

.p-main-visual__title {
	font-size: 2.4rem;
	font-weight: 700;
}

.p-main-visual__lead {
	font-size: 1.4rem;
	margin-top: 8px;
}

.p-main-visual--top {
	height: 300px;
}

.p-main-visual--top::before {
	background: rgba(0, 0, 0, 0.3);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}

.p-main-visual--page {
	height: 300px;
}

.p-main-visual--page::before {
	background: rgba(0, 0, 0, 0.3);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}

.c-marker {
	background: #e0e0e0;
	display: inline-block;
	padding: 0 0.2em;
}

.c-marker.m-stripe {
	background: transparent;
	position: relative;
	z-index: 1;
}

.c-marker.m-stripe::before {
	background: repeating-linear-gradient(-45deg, #e0e0e0, #e0e0e0 2px, #fff 0, #fff 4px);
	bottom: 3px;
	content: "";
	height: 0.4em;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.c-marker.m-thin {
	background: linear-gradient(transparent 60%, #e0e0e0 0);
}

.c-marker.m-cover {
	background: #e0e0e0;
	box-shadow: 1em 0 #e0e0e0, 0 0.4em #e0e0e0, 1em 0.4em #e0e0e0, -1em 0 #e0e0e0, 0 -0.4em #e0e0e0, -1em -0.4em #e0e0e0, -1em 0.4em #e0e0e0, 1em -0.4em #e0e0e0;
	display: inline;
	line-height: 2.2;
	padding: 0;
}

.p-notfound {
	background: #fff;
	border: 1px solid #eee;
	margin-bottom: 48px;
	margin-top: 52px;
	padding: 24px 24px 42px;
	text-align: center;
}

.p-notfound__body {
	margin-bottom: 36px;
	text-align: center;
}

.p-notfound__body p:first-child {
	margin-top: 0;
}

.p-notfound__link {
	text-align: center;
}

.p-relation {
	margin-top: 32px;
}

.p-relation__head {
	color: #424242;
	font-weight: 700;
	margin-bottom: 16px; /* $color-key */
	text-align: center;
}

.p-relation__head::before {
	content: "|";
	display: inline-block;
	margin-right: 12px;
	transform: rotate(-30deg);
}

.p-relation__head::after {
	content: "|";
	display: inline-block;
	margin-left: 12px;
	transform: rotate(30deg);
}

.p-relation__head span {
	font-size: 1.8rem;
}

.p-relation__btn {
	margin-top: 24px;
	text-align: center;
}

.p-relation__btn > .c-button {
	transition: all 0.3s ease 0s;
}

.p-relation__btn > .c-button:hover {
	opacity: 0.6;
}

.p-relation-items {
	display: flex;
	flex-wrap: wrap;
}

.p-relation-item {
	margin-bottom: 12px;
	margin-right: 12px;
	width: calc(50% - 12px * 1 / 2);
}

.p-relation-item:nth-child(2n) {
	margin-right: 0;
}

.p-relation-item__title {
	line-height: 1.4;
}

.p-relation-item__title a {
	font-size: 1.4rem;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.p-relation-item__title a:hover {
	opacity: 0.6; /* opacity */
}

.p-relation-item__body {
	padding: 4px;
}

.p-relation-item-img-cover {
	overflow: hidden;
	padding-top: 71.42857%;
	position: relative;
}

.p-relation-item-img-cover a {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	text-decoration: none;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 100%;
}

.p-relation-item-img-cover a:hover {
	opacity: 0.6; /* opacity */
}

.p-relation-item-img-cover a img {
	-o-object-fit: cover;
	font-family: "object-fit: cover;";
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-sidebar-fixed {
	position: -webkit-sticky;
	position: sticky;
	top: 32px;
}

.p-sns-buttons {
	margin-bottom: 6px;
	margin-top: 6px;
}

.p-sns-buttons ul {
	display: flex;
	flex-wrap: wrap;
}

.p-sns-buttons li {
	font-size: 1.3rem;
	margin: 6px 12px 6px 0;
	width: calc(50% - 12px * 1 / 2);
}

.p-sns-buttons li:nth-child(2n) {
	margin-right: 0;
}

.p-sns-buttons li i {
	font-style: normal;
	font-weight: 700;
	margin-right: 4px;
}

.p-sns-buttons li a {
	background: #666;
	border-radius: 2px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	display: block;
	font-weight: 700;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	white-space: nowrap;
}

.p-sns-buttons li a:hover {
	opacity: 0.6; /* opacity */
}

.p-sns-buttons li a.m-twitter {
	background: #1da1f2; /* sns twitter */
}

.p-sns-buttons li a.m-facebook {
	background: #3b5998; /* sns facebook */
}

.p-sns-buttons li a.m-hatena {
	background: #018fde; /* sns hatena */
}

.p-sns-buttons li a.m-line {
	background: #00b902; /* sns line */
}

.p-sns-buttons li a.m-pocket {
	background: #ef4156; /* sns pocket */
}

.p-sns-buttons li a.m-rss {
	background: #ea781a; /* sns rss */
}

.p-sns-buttons-org ul {
	display: flex;
	flex-wrap: wrap;
}

.p-sns-buttons-org li {
	margin-bottom: 8px;
	margin-right: 8px;
}

.p-sns-buttons-org li:last-child {
	margin-right: 0;
}

.p-sns-buttons-org li a {
	text-decoration: none;
}

.p-sns-buttons-org li a.m-rss {
	background: #ea781a;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 700;
	height: 20px;
	line-height: 20px;
	padding: 0 12px;
	text-align: center;
	vertical-align: top;
}

/* SNSボタンウィジェット */

.fb-share-button > span {
	vertical-align: top !important;
}

.p-entry-content .wp-block-button__link {
	text-decoration: none;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-caption {
	font-size: 1.4rem;
	padding: 4px;
	text-align: left;
}

.gallery-icon {
	text-align: center;
}

.gallery-item {
	margin-bottom: 8px;
	padding: 4px;
	width: 100%;
}

.gallery-item a {
	transition: all 0.3s ease 0s;
}

.gallery-item a:hover {
	opacity: 0.6; /* opacity */
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11111%;
}

.menu-item-has-children .sub-menu {
	visibility: hidden;
}

.p-pagination {
	display: flex;
	justify-content: center;
	margin-top: 32px;
}

.p-pagination a {
	transition: all 0.3s ease 0s;
}

.p-pagination a:hover { /* pagenation color-active */
	background: #9e9e9e; /* pagenation background-active */
	border: 1px solid #9e9e9e;
	color: #fff; /* pagenation border-active */
}

.p-pagination a.next,
.p-pagination a.prev {
	background: #eee; /* pagenation background */
	border: 1px solid #eee; /* pagenation border */
}

.p-pagination a.next:hover,
.p-pagination a.prev:hover { /* pagenation color-active */
	background: #9e9e9e; /* pagenation background-active */
	border: 1px solid #9e9e9e;
	color: #fff; /* pagenation border-active */
}

.page-numbers { /* pagenation border */
	background: #eee;
	border: 1px solid #eee;
	color: #333;
	height: 38px;
	line-height: 38px;
	margin-right: 8px;
	min-width: 38px; /* pagenation background */
	text-align: center; /* pagenation color */
	text-decoration: none;
}

.page-numbers:last-child {
	margin-right: 0;
}

.page-numbers.current { /* pagenation color-active */
	background: #9e9e9e; /* pagenation background-active */
	border: 1px solid #9e9e9e;
	color: #fff; /* pagenation border-active */
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
	border: none;
}

.wp-caption {
	margin: 1.2em auto 0;
	max-width: 100%;
	text-align: center;
}

.wp-caption a {
	transition: all 0.3s ease 0s;
}

.wp-caption a:hover {
	opacity: 0.6; /* opacity */
}

.wp-caption-text {
	font-size: 1.3rem;
	padding: 4px;
	text-align: left;
}

.post_password {
	margin-top: 1.2em;
	position: relative;
}

.post_password .post_password-field {
	height: 42px;
	line-height: 42px;
	width: 100%;
}

.post_password .post_password-submit {
	height: 40px;
	padding-bottom: 0;
	padding-top: 0;
	position: absolute;
	right: 1px;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
}

.post_password .post_password-submit:hover {
	opacity: 0.6;
}

.alignleft {
	float: left;
	margin: 8px 8px 8px 0;
	max-width: 48%;
}

.alignright {
	float: right;
	margin: 8px 0 8px 8px;
	max-width: 48%;
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.sticky {
	position: relative;
}

.sticky::before { /* sticky color */
	background: #e57373;
	color: #fff;
	content: "PICK UP"; /* sticky background */
	font-size: 1.2rem;
	left: 0;
	padding: 4px 8px;
	position: absolute;
	top: 0;
	z-index: 2;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	height: auto;
	max-width: 100%;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	word-wrap: normal !important;
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

.screen-reader-text:focus {
	clip: auto !important;
	-webkit-clip-path: none;
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	right: 5px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.skip-link {
	left: -9999rem;
	text-decoration: underline;
	top: 2.5rem;
	z-index: 999999999;
}

.skip-link:focus {
	display: block;
	font-size: 14px;
	font-weight: 600;
	left: 6px;
	line-height: normal;
	padding: 15px 23px 14px;
	right: auto;
	text-decoration: none;
	top: 7px;
	z-index: 100000;
}

span.wpcf7-list-item {
	margin: 0;
}

.p-widget.widget_archive select {
	background: transparent url(../img/arrow-select.svg) no-repeat center right 8px/12px 8px;
	width: 100%;
}

.p-widget {
	background: #fff;
	font-size: 1.4rem;
	margin-bottom: 16px;
}

.p-widget:last-child {
	margin-bottom: 0;
}

.p-widget ul {
	padding: 0 10px;
}

.p-widget ul.children li {
	margin-top: 12px;
}

.p-widget ul.sub-menu li {
	margin-top: 12px;
}

.p-widget > ul {
	padding: 16px 10px;
}

.p-widget .menu {
	padding: 16px 10px;
}

.p-widget li {
	font-size: inherit;
	margin-bottom: 12px;
}

.p-widget li:last-child {
	margin-bottom: 0;
}

.p-widget li a {
	display: inline-block;
	font-size: inherit;
	text-decoration: none;
}

.p-widget a {
	transition: all 0.3s ease 0s;
}

.p-widget a:hover {
	opacity: 0.6; /* opacity */
}

.p-widget__title {
	background: #9e9e9e;
	color: #fff; /* widget background */
	font-size: 1.6rem;
	font-weight: 700;
	padding: 6px 10px; /* widget color */
}

.p-widget.widget_calendar {
	padding-bottom: 0;
}

#wp-calendar caption {
	padding: 4px;
}

#wp-calendar th,
#wp-calendar td {
	font-size: 1.2rem;
	padding: 8px;
	text-align: center;
}

#wp-calendar th {
	color: #424242;
}

#wp-calendar #prev {
	text-align: left;
}

#wp-calendar #next {
	text-align: right;
}

#wp-calendar a {
	color: #9e9e9e;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

#wp-calendar a:hover {
	opacity: 0.6; /* opacity */
}

.p-widget.widget_categories select {
	background: transparent url(../img/arrow-select.svg) no-repeat center right 8px/12px 8px;
	width: 100%;
}

.p-widget.widget_meta abbr {
	text-decoration: none;
}

#recentcomments .recentcomments {
	color: #9e9e9e;
}

#recentcomments .recentcomments a {
	color: #424242;
	text-decoration: underline;
}

#recentcomments .recentcomments a:hover {
	opacity: 0.6; /* opacity */
}

.post-date {
	color: #9e9e9e;
	display: block;
	font-size: 1.4rem;
}

.p-widget.widget_rss cite {
	color: #666;
	font-size: 1.4rem;
}

.rss-widget-icon {
	margin-top: -4px;
	vertical-align: middle;
}

.rsswidget {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
}

.rsswidget:hover {
	opacity: 0.6; /* opacity */
}

.rss-date {
	color: #666;
	font-size: 1.4rem;
}

.rssSummary {
	color: #666;
	font-size: 1.4rem;
}

.p-widget.widget_search {
	padding-bottom: 0;
}

.p-search-form {
	position: relative;
}

.search-field {
	height: 42px;
	line-height: 42px;
	width: 100%;
}

.search-submit {
	font-size: 1.4rem;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	min-width: 40px;
	padding: 0 10px;
	position: absolute;
	right: 1px;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
}

.search-submit:hover {
	opacity: 0.6;
}

.tagcloud {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding: 16px 10px;
}

.tag-cloud-link {
	background: #eee;
	border-radius: 2px; /* tagcloud background */
	color: #333;
	display: block;
	font-size: 1.2rem !important;
	margin: 0 6px 6px 0;
	padding: 2px 6px; /* tagcloud color */
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.textwidget {
	padding: 16px 10px;
}

.u-hover-scale {
	transform: scale(1, 1);
	transition: all 0.5s ease 0s;
}

.u-hover-scale:hover {
	transform: scale(1.2, 1.2);
}

.u-hover-opacity {
	opacity: 1;
	transition: all 0.5s ease 0s;
}

.u-hover-opacity:hover {
	opacity: 0.6;
}

.u-hover-up {
	transform: translate(0, 0);
	transition: all 0.5s ease 0s;
}

.u-hover-up:hover {
	transform: translate(0, -0.3em);
}

.u-hover-down {
	transform: translate(0, 0);
	transition: all 0.5s ease 0s;
}

.u-hover-down:hover {
	transform: translate(0, 0.3em);
}

.u-hover-rotate-x {
	transform: rotateX(0);
	transition: all 0.5s ease 0s;
}

.u-hover-rotate-x:hover {
	transform: rotateX(360deg);
}

.u-hover-rotate-y {
	transform: rotateY(0);
	transition: all 0.5s ease 0s;
}

.u-hover-rotate-y:hover {
	transform: rotateY(360deg);
}

.u-hover-rotate-z {
	transform: rotate(0);
	transition: all 0.5s ease 0s;
}

.u-hover-rotate-z:hover {
	transform: rotateZ(360deg);
}

.u-fadein {
	opacity: 0;
	transition: all 0.8s ease 0s;
}

.u-fadein.is-anim {
	opacity: 1;
}

.u-fadein-up {
	opacity: 0;
	transform: translate(0, 0.8rem);
	transition: all 0.8s ease 0s;
}

.u-fadein-up.is-anim {
	opacity: 1;
	transform: translate(0, 0);
}

.u-m-auto {
	margin: auto;
}

.u-mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.u-my-auto {
	margin-bottom: auto;
	margin-top: auto;
}

.u-mt-auto {
	margin-top: auto;
}

.u-mr-auto {
	margin-right: auto;
}

.u-ml-auto {
	margin-left: auto;
}

.u-mb-auto {
	margin-bottom: auto;
}

.u-m-0 {
	margin: 0;
}

.u-mx-0 {
	margin-left: 0;
	margin-right: 0;
}

.u-my-0 {
	margin-bottom: 0;
	margin-top: 0;
}

.u-mt-0 {
	margin-top: 0;
}

.u-mr-0 {
	margin-right: 0;
}

.u-mb-0 {
	margin-bottom: 0;
}

.u-ml-0 {
	margin-left: 0;
}

.u-p-0 {
	padding: 0;
}

.u-px-0 {
	padding-left: 0;
	padding-right: 0;
}

.u-py-0 {
	padding-bottom: 0;
	padding-top: 0;
}

.u-pt-0 {
	padding-top: 0;
}

.u-pr-0 {
	padding-right: 0;
}

.u-pb-0 {
	padding-bottom: 0;
}

.u-pl-0 {
	padding-left: 0;
}

.u-text-left {
	text-align: left;
}

.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-text-justify {
	text-align: justify;
	text-justify: inter-ideograph;
}

.u-japanease {
	-ms-writing-mode: tb-rl;
	overflow: hidden;
	writing-mode: vertical-rl;
}

.u-word-break {
	word-break: break-all;
}

.u-white-space {
	white-space: nowrap;
}

@media (min-width: 768px) {

.l-primary {
	margin-bottom: 0;
	width: 71.18644%;
}

.l-secondary {
	margin-left: auto;
	margin-top: 0;
	width: 25.59322%;
}

.l-entry {
	padding-left: 24px;
	padding-right: 24px;
}

.l-header {
	height: auto;
}

.l-header__logo {
	padding-right: 12px;
}

.l-header__global {
	display: block;
}

.l-header__drawer {
	display: none;
}

.l-inner {
	padding-left: 32px;
	padding-right: 32px;
}

.l-row__col01-tab {
	width: 8.33333%;
}

.l-row__col02-tab {
	width: 16.66667%;
}

.l-row__col03-tab {
	width: 25%;
}

.l-row__col04-tab {
	width: 33.33333%;
}

.l-row__col05-tab {
	width: 41.66667%;
}

.l-row__col06-tab {
	width: 50%;
}

.l-row__col07-tab {
	width: 58.33333%;
}

.l-row__col08-tab {
	width: 66.66667%;
}

.l-row__col09-tab {
	width: 75%;
}

.l-row__col10-tab {
	width: 83.33333%;
}

.l-row__col11-tab {
	width: 91.66667%;
}

.l-row__col12-tab {
	width: 100%;
}

.p-contact-item {
	display: flex;
}

.p-contact-item dt,
.p-contact-item dd {
	padding: 16px 12px;
}

.p-contact-item dt {
	margin-bottom: 0;
	width: 150px;
}

.p-contact-item dd {
	margin-bottom: 0;
	width: calc(100% - 150px);
}

.p-entry-item {
	display: flex;
	padding: 24px 12px;
}

.p-entry-items--square .p-entry-item {
	margin-right: 32px;
	padding-left: 24px;
	padding-right: 24px;
	width: calc(50% - 32px / 2);
}

.p-entry-items--square .p-entry-item:nth-child(2n) {
	margin-right: 0;
}

.p-entry-item__img {
	padding: 0 12px;
	width: 30%;
}

.p-entry-item__body {
	padding: 0 12px;
	width: 70%;
}

.p-entry-pager {
	display: flex;
	flex-direction: row-reverse;
}

.p-entry-pager__head {
	font-size: 1.6rem;
}

.p-entry-pager__prev,
.p-entry-pager__next {
	width: 42%;
}

.p-entry-pager__next {
	margin-bottom: 0;
}

.p-floating a {
	height: 42px;
	line-height: 42px;
	width: 42px;
}

.p-header-logo img {
	max-height: auto;
}

.p-relation-item {
	width: calc(25% - 12px * 3 / 4);
}

.p-relation-item:nth-child(2n) {
	margin-right: 12px;
}

.p-relation-item:nth-child(4n) {
	margin-right: 0;
}

.p-sns-buttons {
	margin-bottom: 0;
	margin-top: 0;
}

.p-sns-buttons li {
	margin: 3px 12px 3px 0;
	width: calc((100% / 6) - 12px * 5 / 6);
}

.p-sns-buttons li:nth-child(2n) {
	margin-right: 12px;
}

.p-sns-buttons li:last-child {
	margin-right: 0;
}

.page-numbers {
	height: 42px;
	line-height: 42px;
	min-width: 42px;
}

.p-widget {
	margin-bottom: 32px;
}

}

@media (min-width: 768px) and (max-width: 1079px) {

.u-hidden-tab {
	display: none;
}

}

@media (min-width: 1080px) {

.l-inner {
	padding-left: 0;
	padding-right: 0;
}

.l-row__col01-pc {
	width: 8.33333%;
}

.l-row__col02-pc {
	width: 16.66667%;
}

.l-row__col03-pc {
	width: 25%;
}

.l-row__col04-pc {
	width: 33.33333%;
}

.l-row__col05-pc {
	width: 41.66667%;
}

.l-row__col06-pc {
	width: 50%;
}

.l-row__col07-pc {
	width: 58.33333%;
}

.l-row__col08-pc {
	width: 66.66667%;
}

.l-row__col09-pc {
	width: 75%;
}

.l-row__col10-pc {
	width: 83.33333%;
}

.l-row__col11-pc {
	width: 91.66667%;
}

.l-row__col12-pc {
	width: 100%;
}

.u-hidden-pc {
	display: none;
}

}

@media (max-width: 767px) {

.u-hidden-sp {
	display: none;
}

}

@-webkit-keyframes fadeInDown {

from {
	opacity: 0;
	transform: translateY(-50px);
}

to {
	opacity: 1;
	transform: translateY(0);
}

}

@keyframes fadeInDown {

from {
	opacity: 0;
	transform: translateY(-50px);
}

to {
	opacity: 1;
	transform: translateY(0);
}

}

