.l-content {
	width: 100%;
	padding: 0;
}

.l-primary {
	width: 100%;

	@include mq-up("tab") {
		width: ($layout-width-main / $layout-width-container) * 100%;
		margin-bottom: 0;
	}
}

.l-secondary {
	width: 100%;
	margin-top: 3.2rem;

	@include mq-up("tab") {
		width: ($layout-width-side / $layout-width-container) * 100%;
		margin-left: auto;
	}
}
