.l-content {
	padding: 0;
	width: 100%;
}

.l-primary {
	width: ($layout-width-main / $layout-width-container) * 100%;

	@include mq("sp") {
		width: 100%;
		margin-bottom: 32px;
	}
}

.l-secondary {
	width: ($layout-width-side / $layout-width-container) * 100%;
	margin-left: auto;

	@include mq("sp") {
		width: 100%;
	}
}
