.l-header {
	width: 100%;
	height: $header-height-sp;
	z-index: map-get($layer, "header");
	background: $header-background;

	@include mq-up("tab") {
		height: $header-height-pc;
	}

	&.m-fixed {
		position: fixed;
		top: 0;
		left: 0;
	}
}
