.l-inner {
	margin: 0 auto;
	padding: 0;
	max-width: 100%;
	width: $layout-width-inner;
	height: inherit;

	@include mq("tab") {
		padding-right: $pd-x-tab;
		padding-left: $pd-x-tab;
	}

	@include mq("sp") {
		padding-right: $pd-x-sp;
		padding-left: $pd-x-sp;
	}
}
