.breadcrumb {
	background: $cr-m;

	> .inner {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.breadcrumb-list {
	display: flex;
	align-items: center;
	overflow-x: hidden;

	li {
		white-space: nowrap;
	}

	a {
		text-decoration: none;
		color: #fff;
		display: block;
		padding: 12px 24px;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity;
		}
	}
}

.breadcrumb_bridge {
	color: #fff;
}

.breadcrumb_current {
	color: #fff;
	padding: 12px 24px;
}
