.breadcrumb {
	// background: $cr-m;

	> .inner {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.breadcrumb-list {
	display: flex;
	align-items: center;
	overflow: hidden;

	li {
		white-space: nowrap;
		padding: 8px 0;
	}

	a {
		text-decoration: none;
		display: block;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity;
		}
	}

	a,
	.breadcrumb_current {
		color: #666;
		font-size: 13px;
	}
}

.breadcrumb_bridge {
	color: #666;
	font-size: 13px;
	padding: 0 16px;
}
