// ドロワーアイコン
$drawer-width: 250px;
$drawer-speed: 0.3s;
$drawer-icon-width: 50px;
$drawer-icon-height: 50px;
$bar-width: 28px;
$bar-height: 4px;
$bar-radius: 2px;
$bar-space: 4px;
$bar-bg: transparent;
$bar-color: #333;
$bar-color_active: #fff;
$drawer-content-bg: $cr-m;
$drawer-content-font: #fff;

.drawer {
	// position: fixed;
	// top: 0;
	z-index: map-get($layer, "drawer");
	display: none;
	// right: 0;

	@include mq("sp") {
		display: block;
	}
}

.drawer-open {
	display: inline-block;
	width: $drawer-icon-width;
	height: $drawer-icon-height;
	vertical-align: middle;
	position: relative;
	transition: $drawer-speed ease-in-out;
	cursor: pointer;
	background: $bar-bg;
	z-index: map-get($layer, "drawer") + 1;

	span {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		height: $bar-height;
		width: $bar-width;
		margin: (-$bar-height/2) 0 0 (-$bar-width/2);
		background: $bar-color;
		border-radius: $bar-radius;
		transition: $drawer-speed ease-in-out;

		&::before,
		&::after {
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: $bar-radius;
			background: $bar-color;
			display: block;
			content: "";
			cursor: pointer;
			margin: (-$bar-height/2) 0 0 -50%;
			top: 50%;
			left: 50%;
			transform: rotate(0);
			transition: $drawer-speed ease-in-out;
		}

		&::before {
			margin-top: -$bar-height - $bar-height/2 - $bar-space;
			transform: rotate(0);
		}

		&::after {
			margin-top: $bar-height/2 + $bar-space;
			transform: rotate(0);
		}
	}

	&.m_checked {

		span {
			background: rgba($bar-color_active, 0);

			&::before,
			&::after {
				display: block;
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: $bar-radius;
				width: $bar-width;
				height: $bar-height;
				margin: (-$bar-height/2) 0 0 (-$bar-width/2);
				background: $bar-color_active;
			}

			&::before {
				transform: rotate(-45deg);
			}

			&::after {
				transform: rotate(45deg);
			}
		}
	}
}

.drawer-close {
	display: none;
	position: fixed;
	z-index: map-get($layer, "drawer") - 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	transition: 0.3s ease-in-out;

	&.m_checked {
		display: block;
		opacity: 0.4;
	}
}

.drawer-content {
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0;
	z-index: map-get($layer, "drawer");
	width: $drawer-width;
	max-width: 90%;
	height: 100%;
	background: $drawer-content-bg;
	transition: $drawer-speed ease-in-out;
	padding-top: $header-height-sp;
	transform: translateX(105%);
	text-align: left;
	color: $drawer-content-font;

	.drawer-title {
		font-size: 1em;
		font-weight: 700;
		text-align: center;
		padding: 0 34px;
	}

	&.m_checked {
		transform: translateX(0);
		box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
	}
}

.drawer-nav {

	li {

		a {
			text-decoration: none;
			// color: $cr-txt;
			display: block;
			padding: 16px;
			font-size: 16px;

			span {
				font-size: 14px;
				color: $cr-m;
				margin-left: 12px;
			}
		}

		&.menu-item-has-children {
			position: relative;

			.sub-menu {
				display: none;
				padding-left: 24px;

				a {
					font-size: 14px;
					padding-bottom: 12px;
					padding-top: 12px;
				}
			}

			a {
				padding-right: 46px;
			}

			span {

				&::after {
					content: "\f078";
					font-family: $ff-awesome;
					font-size: 18px;
					font-weight: 900;
					position: absolute;
					right: 16px;
					top: 12px;
				}
			}

			&.m_open {

				.sub-menu {
					display: block;
				}

				span {

					&::after {
						content: "\f106";
					}
				}
			}
		}
	}
}
