/* アニメーション速度 */
$drawer-speed: 0.3s;

/* ドロワーコンテンツ */
$drawer-width: 250px;
$drawer-content-bg: rgba($cr-m, 0.95);
$drawer-content-font: #fff;

.drawer {
	z-index: map-get($layer, "modal");
	display: none;

	@include mq("sp") {
		display: block;
	}
}

.drawer-content {
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
	transform: translateX(105%);
	z-index: map-get($layer, "modal");
	width: $drawer-width;
	max-width: 90%;
	height: 100%;
	background: $drawer-content-bg;
	transition: all $drawer-speed ease-in-out 0s;
	padding-top: $header-height-sp;
	text-align: left;
	color: $drawer-content-font;

	&.m_left {
		transform: translateX(-105%);
		left: 0;
		right: auto;
	}

	&.m_checked {
		transform: translateX(0);
		box-shadow: 6px 0 25px rgba(#000, 0.16);
	}
}

.drawer-nav {

	li {

		a {
			text-decoration: none;
			display: block;
			padding: 16px;
			font-size: 16px;

			span {
				font-size: 14px;
				color: $cr-m;
				margin-left: 12px;
			}
		}

		&.menu-item-has-children {
			position: relative;

			.sub-menu {
				display: none;
				padding-left: 24px;

				a {
					font-size: 14px;
					padding-bottom: 12px;
					padding-top: 12px;
				}
			}

			a {
				padding-right: 46px;
			}

			span {

				&::after {
					content: "\f078";
					font-family: $ff-awesome;
					font-size: 18px;
					font-weight: 900;
					position: absolute;
					right: 16px;
					top: 12px;
				}
			}

			&.m_open {

				.sub-menu {
					display: block;
				}

				span {

					&::after {
						content: "\f106";
					}
				}
			}
		}
	}
}
