/* アニメーション速度 */
$drawer-speed: 0.3s;

/* ドロワーアイコン（背景） */
$drawer-icon-width: 50px;
$drawer-icon-height: 50px;
$drawer-icon-bg: transparent;
$drawer-icon-top: 0;
$drawer-icon-right: 0;
$drawer-icon-bottom: auto;
$drawer-icon-left: auto;

/* ドロワーアイコン */
$bar-width-open: 28px;
$bar-width-close: 26px;
$bar-height: 4px;
$bar-radius: 2px;
$bar-space: 4px;
$bar-space-base: -$bar-height / 2;
$bar-space-top: $bar-space-base - $bar-space - $bar-height;
$bar-space-bottom: $bar-space-base + $bar-space + $bar-height;
$bar-color: #333;

/* ドロワーコンテンツ */
$drawer-width: 250px;
$drawer-content-bg: rgba($cr-m, 0.95);
$drawer-content-font: #fff;

.drawer {
	z-index: map-get($layer, "drawer");
	display: none;

	@include mq("sp") {
		display: block;
	}
}

.drawer-icon {
	display: block;
	width: $drawer-icon-width;
	height: $drawer-icon-height;
	position: fixed;
	top: $drawer-icon-top;
	right: $drawer-icon-top;
	bottom: $drawer-icon-bottom;
	left: $drawer-icon-left;
	cursor: pointer;
	z-index: map-get($layer, "drawer") + 1;
	border-radius: 50%;
	padding: 0;
	text-align: center;
	background: $drawer-icon-bg;
}

.drawer-open {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -($bar-width-open / 2);
	margin-top: -($bar-height / 2);
	display: block;
	height: $bar-height;
	width: $bar-width-open;
	background: $bar-color;
	border-radius: $bar-radius;
	transition: all $drawer-speed ease-in-out 0s;

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		top: $bar-space-base;
		right: 50%;
		margin-right: -50%;
		width: 100%;
		height: 100%;
		background: $bar-color;
		border-radius: $bar-radius;
		transition: all $drawer-speed ease-in-out 0s;
	}

	&::before {
		top: calc(50% + #{$bar-space-top});
	}

	&::after {
		top: calc(50% + #{$bar-space-bottom});
	}

	.m_checked & {
		background: rgba($bar-color, 0);
		width: $bar-width-close;
		margin-left: -($bar-width-close / 2);

		&::before {
			top: $bar-space-base;
			transform: rotate(-45deg);
		}

		&::after {
			top: $bar-space-base;
			transform: rotate(45deg);
			width: 100%;
		}
	}
}

.drawer-text {
	position: absolute;
	top: calc(50% + 12px);
	left: 50%;
	transform: translateX(-50%);
	display: block;
	color: $bar-color;
	font-size: 10px;
	text-align: center;
	font-weight: 700;

	.m_open {
		display: block;
	}

	.m_close {
		display: none;
	}

	.m_checked & {

		.m_open {
			display: none;
		}

		.m_close {
			display: block;
		}
	}
}

.drawer-close {
	display: none;
	position: fixed;
	z-index: map-get($layer, "drawer") - 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	transition: all $drawer-speed ease-in-out 0s;

	&.m_checked {
		display: block;
		opacity: 0.4;
	}
}

.drawer-content {
	overflow: auto;
	position: fixed;
	top: $drawer-icon-top;
	right: $drawer-icon-right;
	bottom: $drawer-icon-bottom;
	left: $drawer-icon-left;
	transform: translateX(105%);
	z-index: map-get($layer, "drawer");
	width: $drawer-width;
	max-width: 90%;
	height: 100%;
	background: $drawer-content-bg;
	transition: all $drawer-speed ease-in-out 0s;
	padding-top: $header-height-sp;
	text-align: left;
	color: $drawer-content-font;

	&.m_left {
		transform: translateX(-105%);
		left: 0;
		right: auto;
	}

	&.m_checked {
		transform: translateX(0);
		box-shadow: 6px 0 25px rgba(#000, 0.16);
	}
}

.drawer-nav {

	li {

		a {
			text-decoration: none;
			display: block;
			padding: 16px;
			font-size: 16px;

			span {
				font-size: 14px;
				color: $cr-m;
				margin-left: 12px;
			}
		}

		&.menu-item-has-children {
			position: relative;

			.sub-menu {
				display: none;
				padding-left: 24px;

				a {
					font-size: 14px;
					padding-bottom: 12px;
					padding-top: 12px;
				}
			}

			a {
				padding-right: 46px;
			}

			span {

				&::after {
					content: "\f078";
					font-family: $ff-awesome;
					font-size: 18px;
					font-weight: 900;
					position: absolute;
					right: 16px;
					top: 12px;
				}
			}

			&.m_open {

				.sub-menu {
					display: block;
				}

				span {

					&::after {
						content: "\f106";
					}
				}
			}
		}
	}
}
