.entries {
	margin-top: 32px;
}

.entry-item {
	display: flex;
	padding: 24px 12px;
	border: 1px solid #eee;
	margin-bottom: 32px;
	background: #fff;

	@include mq("sp") {
		display: block;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.entry-item-img {
	text-align: center;
	width: 30%;
	padding: 0 12px;

	@include mq("sp") {
		width: 100%;
		padding: 0;
	}

	a {
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity;
		}
	}
}

.entry-item-body {
	width: 70%;
	padding: 0 12px;

	@include mq("sp") {
		width: 100%;
		padding: 12px 0;
	}
}

.entry-item-meta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 8px;
}

.entry-item-published {
	font-size: 12px;
	color: #666;
	white-space: nowrap;
	margin-left: auto;

	&::before {
		content: "\f073";
		font-family: $ff-awesome;
		font-weight: 400;
		margin-right: 8px;
	}
}

.entry-item-tag {
	white-space: nowrap;

	a {
		text-decoration: none;
		color: #fff;
		display: block;
		padding: 4px 8px;
		background: #333;
		font-size: 12px;
		transition: all 0.3s ease 0s;
		border-radius: 2px;

		&:hover {
			opacity: $opacity;
		}
	}
}

.entry-item-title {
	margin-bottom: 8px;
	line-height: 1.2;

	a {
		text-decoration: none;
		font-size: 20px;
		font-weight: 700;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity;
		}
	}
}

.entry-item-excerpt {
	font-size: 14px;
	color: #666;
}

.entry-item-auther {
	text-align: right;
	margin-top: 16px;

	a {
		text-decoration: none;
		transition: all 0.3s ease 0s;
		color: #666;
		font-size: 14px;
		vertical-align: middle;

		&:hover {
			opacity: $opacity;
		}
	}

	img {
		margin-right: 4px;
		width: 30px;
		border-radius: 50%;
		vertical-align: middle;
	}
}
