.swiper-container {
	overflow: visible;
}

.swiper-slide {
	display: block;
	opacity: 0.6;
	text-align: center;

	&.swiper-slide-active {
		opacity: 1;
	}

	img {
		width: 100%;
	}
}

.swiper-button-prev,
.swiper-button-next {
	-webkit-transform: translateY(-50%);
	height: 50px;
	line-height: 50px;
	margin-top: 0;
	text-align: center;
	transform: translateY(-50%);
	width: 50px;

	&:hover {
		opacity: $opacity;
	}
}

.swiper-button-prev {
	background: none;
	left: 16px;

	&::after {
		color: #fff;
		content: "\f053";
		font-family: $ff-awesome;
		font-weight: 900;
		font-size: 50px;
		left: 0;
		position: absolute;
		right: auto;
		top: 50%;
		transform: translateY(-50%);
	}
}

.swiper-button-next {
	background: none;
	right: 16px;

	&::after {
		color: #fff;
		content: "\f054";
		font-family: $ff-awesome;
		font-size: 50px;
		font-weight: 900;
		left: auto;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.swiper-pagination-bullet {
	background: rgba(255, 255, 255, 0.5);
	height: 10px;
	width: 10px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 14px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin-left: 10px;
	margin-right: 10px;
}

.swiper-pagination-bullet-active {
	background: #fff;
}
