.sns-buttons {

	@include mq("sp") {
		margin-top: 6px;
		margin-bottom: 6px;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
	}

	li {
		// width: calc(20% - 12px * 4 / 5);
		width: calc(25% - 12px * 3 / 4);
		margin: 16px 12px 16px 0;

		@include mq("sp") {
			width: calc(50% - 12px * 1 / 2);
			margin-top: 6px;
			margin-bottom: 6px;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		i {
			margin-right: 4px;
			font-weight: 700;
			font-style: normal;
		}

		a {
			text-decoration: none;
			color: #fff;
			padding: 6px 12px;
			display: block;
			text-align: center;
			background: #666;
			border-radius: 2px;
			box-shadow: 0 0 3px 0 rgba(#000, 0.16);
			transition: all 0.3s ease 0s;
			font-weight: 700;

			&:hover {
				opacity: $opacity; /* opacity */
			}

			&.m_twitter {
				background: map-get($sns-color, "twitter"); /* sns twitter */
			}

			&.m_facebook {
				background: map-get($sns-color, "facebook"); /* sns facebook */
			}

			&.m_hatena {
				background: map-get($sns-color, "hatena"); /* sns hatena */
			}

			&.m_line {
				background: map-get($sns-color, "line"); /* sns line */
			}

			&.m_pocket {
				background: map-get($sns-color, "pocket"); /* sns pocket */
			}
		}
	}
}

.sns-buttons-org {

	ul {
		display: flex;
		flex-wrap: wrap;
	}

	li {
		margin-right: 8px;
		margin-bottom: 8px;

		&:last-child {
			margin-right: 0;
		}
	}
}

/* SNSボタンウィジェット */
.fb-share-button {

	> span {
		vertical-align: top !important;
	}
}
