// レイアウト幅
$layout-width-canvas: 1440px;
$layout-width-inner: 1180px;
$layout-width-main: 840px;

// 38pxは余白の幅
$layout-width-side: $layout-width-inner - $layout-width-main - 38px;

// ブレークポイント
$breakpoints: (
	"sp": "screen and (max-width: 767px)",
	"tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
	"tab": "screen and (max-width: #{$layout-width-inner - 1px})",
	"pc": "screen and (min-width: #{$layout-width-inner})",
	"ie": "screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none)"
);

// ヘッダー高さ
$header-height: 80px;
$header-height-sp: 60px;

// z-index の指定
$layer: (
	loading: 200,
	modal: 100,
	drawer: 40,
	floating: 30,
	header: 20,
	footer: 10,
	default: 1
);

// 余白
$pd-x-pc: 0;
$pd-x-tab: 32px;
$pd-x-sp: 24px;

// ベースの余白
$pd-entry-pc: 24px;
$pd-entry-sp: 16px;

// マーカー
$marker-pd-x: 0.4em;
$marker-pd-y: 1em;
