#footer {
	background: map-get($footer, "background"); /* footer background */
	color: map-get($footer, "color"); /* footer background */

	> .inner {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.copy {
	font-size: 13px;
	padding: 8px;

	a {
		text-decoration: none;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity; /* opacity */
		}
	}
}

.totop {
	position: fixed;
	right: 8px;
	bottom: 8px;
	display: none;

	a {
		display: block;
		width: 42px;
		height: 42px;
		line-height: 42px;
		color: map-get($totop, "color"); /* totop color */
		background: map-get($totop, "background"); /* totop background */
		text-decoration: none;
		transition: all 0.3s ease 0s;
		text-align: center;
		box-shadow: 0 0 3px 0 rgba(#000, 0.16);

		@include mq("sp") {
			width: 38px;
			height: 38px;
			line-height: 38px;
		}

		&:hover {
			opacity: $opacity; /* opacity */
		}
	}
}
