#footer {
	background: #666;

	> .inner {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.copy {
	color: #fff;
	font-size: 13px;
	padding: 8px;

	a {
		text-decoration: none;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity;
		}
	}
}

.totop {
	position: fixed;
	right: 8px;
	bottom: 8px;
	display: none;

	a {
		display: block;
		width: 42px;
		height: 42px;
		line-height: 42px;
		color: #fff;
		background: #666;
		text-decoration: none;
		opacity: 0.6;
		transition: all 0.3s ease 0s;
		text-align: center;

		@include mq("sp") {
			width: 38px;
			height: 38px;
			line-height: 38px;
		}

		&:hover {
			opacity: 1;
		}
	}
}
