#header {
	width: 100%;
	background: #fff;
	z-index: map-get($layer, "header");

	&.m-anim {
		animation: fadeInDown 0.5s ease 0s 1 normal none;
	}

	&.m-fixed {
		position: fixed;
		top: 0;
		left: 0;
		box-shadow: 0 1px 3px rgba(#000, 0.16);
	}

	> .inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-top: 0;
		padding-bottom: 0;

		@include mq("sp") {
			height: $header-height-sp;
		}
	}
}

.header-logo {
	margin-right: auto;

	a {
		transition: all 0.3s ease 0s;
		display: block;
		text-decoration: none;
		font-size: 28px;
		font-weight: 700;

		&:hover {
			opacity: $opacity; /* opacity */
		}
	}

	img {
		vertical-align: middle;
		width: auto;
		max-height: $header-height;

		@include mq("sp") {
			max-height: $header-height-sp;
		}
	}
}

.header-nav {

	@include mq("sp") {
		display: none;
	}

	.header-list {
		display: flex;
	}

	li {
		margin-right: 12px;
		position: relative;
		z-index: map-get($layer, "header") + 2;
		padding: 16px 0;

		&:hover {

			> .sub-menu {
				visibility: visible;
				opacity: 1;
			}
		}

		&:last-child {
			margin-right: 0;

			.sub-menu {
				left: auto;
				right: 0;
			}
		}

		> a {
			text-decoration: none;
			display: block;
			padding: 6px 8px;
			font-size: 14px;
			transition: all 0.3s ease 0s;

			&:hover {
				opacity: $opacity; /* opacity */
			}
		}

		&.m-pickup {

			a {
				background: $pickup-background; /* header pickup */
				color: #fff;
				font-weight: 700;
				box-shadow: 0 0 3px 0 rgba(#000, 0.16);
			}
		}
	}

	.sub-menu {
		font-size: 16px;
		transition: all 0.3s ease 0s;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		z-index: map-get($layer, "header") + 1;
		min-width: 200px;
		visibility: hidden;
		display: block;
		padding: 0;

		li {
			margin-bottom: 2px;
			margin-right: 0;
			height: auto;
			display: block;
			padding: 0;

			a {
				display: block;
				height: auto;
				line-height: 1.6;
				background: $header-background-sub; /* header background-sub */
				color: $header-color-sub; /* header color-sub */
				padding: 8px 28px 8px 16px;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0.05em;
			}
		}
	}
}
