.infomation {
	background: $cr-m;

	> .inner {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.infomation-link {

	a {
		display: block;
		text-align: center;
		font-weight: 700;
		padding: 8px 0;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease 0s;
		font-size: 14px;

		&:hover {
			opacity: $opacity;
		}
	}
}
