#mv {
	// background: transparent url(../img/mv.png) no-repeat top center / cover;
	overflow: hidden;

	> .inner {
		// height: 600px;
		padding-top: 0;
		padding-bottom: 0;

		@include mq("sp") {
			// height: 400px;
		}
	}
}

.mv-img {

	img {
		width: 100%;
	}
}
