.p-comments {

	> .e-title {
		font-size: 2rem;
		font-weight: 700;
		margin: 42px 0 24px;
	}

	> .e-list {
		margin-bottom: 32px;
	}

	> .e-nav {
		margin-top: 32px;
	}

	> .e-form {
		margin-top: 60px;
	}
}

.p-comments-list {

	li {
		margin-bottom: 24px;
	}

	.children {
		margin-top: 24px;
		padding-left: 12px;
	}

	.comment-body {

		.reply {
			font-size: 1.4rem;
			text-align: right;
			transition: all 0.3s ease 0s;

			&:hover {
				opacity: $opacity; /* opacity */
			}

			&::before {
				content: "\f3e5";
				font-family: $font-family-awesome;
				font-weight: 900;
				margin-right: 6px;
			}
		}
	}

	.comment-meta {
		display: flex;
		align-items: center;
		margin-bottom: 8px;

		.bypostauthor & {
			flex-direction: row-reverse;
		}
	}

	.comment-author {
		margin-right: auto;

		.bypostauthor & {
			margin-right: 0;
			margin-left: auto;
		}

		img {
			margin-right: 4px;
			vertical-align: middle;
			border-radius: 50%;
		}

		.fn {
			vertical-align: middle;
			font-size: 1.4rem;

			a {
				transition: all 0.3s ease 0s;

				&:hover {
					opacity: $opacity; /* opacity */
				}
			}
		}

		.says {
			font-size: 1.2rem;
			color: #666;
			vertical-align: middle;
		}
	}

	.comment-metadata {
		font-size: 1.2rem;
		color: #666;
	}
}

.p-comments-nav {

	ul {
		display: flex;
	}

	.e-prev,
	.e-next {
		margin-right: auto;

		&:last-child {
			margin-right: 0;
		}

		a {
			transition: all 0.3s ease 0s;
			text-decoration: none;
			color: #666;

			&:hover {
				opacity: $opacity; /* opacity */
			}
		}
	}

	.e-prev {

		a {

			&::before {
				content: "\f053";
				font-family: $font-family-awesome;
				font-weight: 900;
				margin-right: 6px;
			}
		}
	}

	.e-next {

		a {

			&::after {
				content: "\f054";
				font-family: $font-family-awesome;
				font-weight: 900;
				margin-left: 6px;
			}
		}
	}
}

.comment-content {

	h1 {
		font-size: 2.8rem;
		margin-top: 3em;
		margin-bottom: 1em;
		line-height: 1.2;
	}

	h2 {
		font-size: 2.4rem;
		margin-top: 3em;
		margin-bottom: 1em;
		line-height: 1.2;
	}

	h3 {
		font-size: 2rem;
		margin-top: 3em;
		margin-bottom: 1em;
		line-height: 1.4;
	}

	h4 {
		font-size: 1.8rem;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.6;
	}

	h5 {
		font-size: 1.6rem;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.6;
	}

	h6 {
		font-size: 1.6rem;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.6;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {

		+ p {
			margin-top: 0;
		}
	}

	p {
		line-height: 1.6;
		margin-top: 1.2em;
	}

	ul {
		list-style-type: disc;
		padding-left: 20px;
		margin-bottom: 1em;
	}

	ol {
		list-style-type: decimal;
		padding-left: 20px;
		margin-bottom: 1em;
	}

	li {
		margin-top: 0.4em;
		margin-bottom: 0.4em;
		line-height: 1.6;
	}

	blockquote {
		background: #eee;
		padding: 1em;
		margin-top: 1em;
		margin-bottom: 1em;
		line-height: 1.6;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}

		cite {
		}
	}

	q {
		background: #eee;
		display: inline-block;
		vertical-align: middle;
		padding-left: 0.2em;
		padding-right: 0.2em;
	}

	strong,
	em,
	b {
		font-weight: 700;
	}

	a {
		text-decoration: underline;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity; /* opacity */
		}
	}

	img {
		vertical-align: middle;
	}

	dl {
		margin-top: 1em;
	}

	dt {
		font-weight: 700;
		margin-top: 0.8em;
		margin-bottom: 4px;
	}

	dd {
	}

	var,
	code,
	kbd {
		color: $code-color; /* code-txt */
		background: $code-background; /* code-bg */
		display: inline-block;
		padding-left: 0.2em;
		padding-right: 0.2em;
		vertical-align: baseline;
		font-style: normal;
	}

	pre {
		white-space: pre;
		overflow: auto;
		margin-top: 1.2em;
		padding: 1em;

		code {
			background: $pre-code-background; /* pre-code-bg */
			color: #fff;
			padding: 12px;
			position: relative;
			margin: -1em;
			overflow: auto;
		}
	}
}

.comment-respond {

	.required {
		color: $form-color-required; /* cr-required */
		vertical-align: middle;
	}

	input,
	textarea {
		vertical-align: top;
	}
}

.comment-reply-title {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 12px;
}

.logged-in-as {

	a {
		color: #666;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity; /* opacity */
		}
	}
}

.comment-notes {
	color: #666;
}

.comment-form {

	label {
		display: block;
		margin: 10px 0 4px;
	}

	.form-submit {
		margin-top: 24px;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity;
		}
	}
}

#wp-comment-cookies-consent {

	+ label {
		display: inline-block;
		position: relative;
		padding: 0 0 0 1.4em;
		margin: 24px 0 0 0;
		cursor: pointer;
		transition: all 1s ease 0s;

		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: #fff;
			border: 1px solid $form-border-color; /* form border */
			border-radius: 2px;
			width: 1em;
			height: 1em;
			display: block;
		}

		&::after {
			opacity: 0;
			transition: opacity 0.3s ease 0s;
		}
	}

	&:checked + label {

		&::after {
			position: absolute;
			content: "";
			top: 50%;
			left: 0;
			transform: translateY(-50%) rotate(-45deg);
			width: 1em;
			height: 0.6em;
			margin-top: -0.2em;
			display: block;
			border-left: 4px solid $form-checkbox-color; /* form checkbox */
			border-bottom: 4px solid $form-checkbox-color; /* form checkbox */
			opacity: 1;
		}
	}
}
