.p-likebox {
	display: flex;
	box-shadow: 0 0 3px 0 rgba(#000, 0.16);
	margin-top: 32px;
	margin-right: -$pd-entry-sp;
	margin-left: -$pd-entry-sp;
	background: #2d2d2d;

	@include mq-up("tab") {
		margin-right: 0;
		margin-left: 0;
	}

	> .e-img {
		width: 40%;

		> .e-cover {
			position: relative;
			overflow: hidden;
			height: 100%;

			span {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					font-family: "object-fit: cover;";
				}
			}
		}
	}

	> .e-body {
		width: 60%;
		padding: 10px 4px;
		color: #fff;
		text-align: center;

		@include mq-up("tab") {
			padding: 24px 10px;
		}

		> .e-lead {
			font-weight: 700;
			line-height: 1.6;
			font-size: 1.2rem;
			margin-bottom: 8px;

			@include mq-up("tab") {
				margin-bottom: 16px;
				font-size: 1.6rem;
			}
		}

		> .e-btn {
		}
	}
}
