.p-likebox {
	display: flex;
	box-shadow: 0 0 3px 0 rgba(#000, 0.16);
	margin-top: 32px;
	background: #2d2d2d;

	@include mq("sp") {
		margin-right: -$pd-entry-sp;
		margin-left: -$pd-entry-sp;
	}

	> .e-img {
		width: 40%;
		background: transparent no-repeat center center / cover;
	}

	> .e-body {
		width: 60%;
		padding: 24px 10px;
		color: #fff;
		text-align: center;

		@include mq("sp") {
			padding: 10px 4px;
		}

		> .e-lead {
			font-weight: 700;
			margin-bottom: 16px;
			line-height: 1.6;

			@include mq("sp") {
				font-size: 1.2rem;
				margin-bottom: 8px;
			}
		}

		> .e-btn {
		}
	}
}
