.p-widget.widget_calendar {
	padding-bottom: 0;
}

#wp-calendar {

	caption {
		padding: 4px;
	}

	th,
	td {
		text-align: center;
		font-size: 1.2rem;
		padding: 8px;
	}

	th {
		color: $color-text;
	}

	#prev {
		text-align: left;
	}

	#next {
		text-align: right;
	}

	a {
		text-decoration: none;
		color: map-get($link, "color");
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: $opacity; /* opacity */
		}
	}
}
