.p-widget.widget_recent_comments {
}

#recentcomments {

	.recentcomments {
		color: #666;
		font-size: 14px;

		a {
			text-decoration: underline;
			color: #333;
			font-size: 16px;

			&:hover {
				opacity: $opacity; /* opacity */
			}
		}
	}

	.e-author-link {
		font-size: 16px;
		color: #333;

		.url {
		}
	}
}
