// ベース色
$color-key: #efa336;
$color-accent: #e65100;
$color-background: #fff;
$color-text: #424242;
$color-text--thin: #757575;

// 透過度
$opacity: 0.6;

// ヘッダー
$header-background: #fff;
$header-background-sub: #efa336;
$header-color-sub: #fff;

// フッター
$footer-background: #666;
$footer-color: #fff;

// フォーム
$form-border-color: #bdbdbd;
$form-border-color-foucs: #9e9e9e;
$form-color-required: #e57373; // 必須

// チェックボックス
$form-checkbox-color: #616161;

// ラジオボタン
$form-radio-color: #616161;

// テーブル
$table-border-color: #bdbdbd;
$table-background: #fff;
$table-background-active: #e0e0e0;
$table-th-background: #ffecb3;
$table-th-color: #fff;

// ボタン
$button-background: #757575;
$button-color: #fff;

// マーカー
$marker-background: #e0e0e0;

// コード
$code-background: #ef5350;
$code-color: #fff;
$pre-code-background: #2d2d2d;

// ピックアップ
$pickup-background: #e65100;
$pickup-color: #fff;

// SNS
$sns-color: (
	"twitter": #1da1f2,
	"facebook": #3b5998,
	"hatena": #018fde,
	"line": #00b902,
	"pocket": #ef4156,
	"feedly": #6cc654,
	"rss": #ea781a
);

// ウィジェット見出し
$widget: (
	"background": #efa336,
	"color": #fff
);

// タグクラウド
$tagcloud: (
	"background": #eee,
	"color": #333
);

// ページネーション
$pagenation: (
	"background": #eee,
	"color": #333,
	"border": #eee,
	"background-active": #efa336,
	"color-active": #fff,
	"border-active": #efa336
);

// floating
$floating: (
	"background": #e65100,
	"color": #fff
);

// リンク
$link: (
	"color": #efa336
);
