// レイアウト幅
$layout-width-canvas: 1440px;
$layout-width-container: 1180px;
$layout-width-main: 840px;
$layout-width-side: $layout-width-container - $layout-width-main - 38px; // 38pxは余白の幅

// ヘッダー高さ
$header-height-pc: auto;
$header-height-sp: 60px;

// 余白
$pd-x-pc: 0;
$pd-x-tab: 32px;
$pd-x-sp: 16px;

// ベースの余白
$pd-entry-pc: 24px;
$pd-entry-sp: 16px;

// ウィジェットの余白
$pd-x-widget: 10px;
$pd-y-widget: 16px;
$pd-x-widget-title: 10px;
$pd-y-widget-title: 6px;
$pd-widget-li: 12px;

// サムネイル画像
$thumbnail-width: 840px;
$thumbnail-height: 600px;

// LIKEボックス画像
$likebox-width: 840px;
$likebox-height: 300px;
