// レイアウト幅
$layout-width-canvas: 1440px;
$layout-width-container: 1180px;
$layout-width-main: 840px;
$layout-width-side: $layout-width-container - $layout-width-main - 38px; // 38pxは余白の幅

// ヘッダー高さ
$header-height: auto;
$header-height-sp: 60px;

// ベースの余白
$pd-entry-pc: 24px;
$pd-entry-sp: 16px;
